<a href="https://colab.research.google.com/github/orizay/free-fonts/blob/master/p03%EB%8F%99%EB%AA%85%EC%9D%B4%EC%9D%B8_%EC%B0%BE%EA%B8%B01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# n명의 사람 이름 중에서 같은 이름을 찾아 집합으로 만들어 돌려주는 알고리즘을 만들어 보세요.

In [1]:
s = set()

In [13]:
s.add(1)
s

{1, 2, 3}

In [14]:
s.add(2)
s

{1, 2, 3}

In [15]:
s.add(3)
s

{1, 2, 3}

In [8]:
len(s)

3

In [9]:
s.add(5)
s

{1, 2, 3, 5}

In [10]:
s.discard(5)
s

{1, 2, 3}

In [11]:
3 in s

True

In [12]:
4 in s

False

# 동명인을 찾는 알고리즘


## 이 알고리즘에서 주의 할 점:
 - 첫째 : 이번에 비교할 이름을 뽑은 다음에는 뽑은 이름보다 순서상 뒤에 있는 이름하고만 비교하면 됩니다.자기 자신과 비교하는 것은 무의미하고 앞에 있는 이름과는 이미 비교가 끝났기 때문입니다.
 - 둘째 : 리스트의 마지막 이름을 기준으로는 비교하지 않아도 됩니다.자신의 뒤에 는 비교할 이름이 없고,앞과는 이미 비교가 끝났기 때문입니다.
 - 섯째 : 같은 이름을 찾으면 결과 집합에 그 이름을 추가합니다.

In [19]:
# 두 번 이상 나온 이름 찾기
# 입력 : 이름이 n개 들어 있는 리스트
# 출력 : 이름n개 중 반복되는 이름의 집합

def find_same_name(a):
    n = len(a)                 # 리스트의 자료 개수를 n에 저장
    result = set()             # 결과를 저장할 빈 집합
    for i in range(0,n-1):     # 0부터 n-2까지 반복
        for j in range(i+1,n): # i+1부터 n-1까지 반복
            if a[i] == a[j]:   # 이름이 같으면
                result.add(a[i]) # 찾은 이름을 result에 추가
    return result

name = ['Tom','Jerry','Mike','Tom']
print(find_same_name(name))
name2 = ['Tom','Jerry','Mike','Tom','Mike']
print(find_same_name(name2))

{'Tom'}
{'Mike', 'Tom'}

## 리스트 안에 있는 자료를 서로 빠짐없이 비교하되 중복해서 비교하지 않도록 반복문을 두개 겹쳐서 사용하였습니다.
 - 첫번째 반복문 : for i in range(0,n-1): 은 i를 0부터 n-2까지 반복한다는 뜻입니다.리스트의 마지막 값에 해당하는 a[n-1]은 이미 앞에서 다른 자료와 한번씩 다 비교했으므로 제외해도 됩니다.(즉,마지막 Tom을 기준으로 비교하지 않아도 됩니다.)
 - 두번째 반복문 for j in range(i +1,n): 은 비교 기준으로 정해진 i번째 위치에 1을 더한 위치의 값부터 끝까지 비교하는 것을 뜻합니다.

# 연습 문제

### n명 중 두 명을 뽑아 짝을 짓는다고 할 때 짝을 지을 수 있는 모든 조합을 출력하는 알고리즘을 만들어 보세오.
- 예를 들어 입력이 리스트['Tom','Jerry','Mike']라면 다음과 같은 세가지 경우를 출력합니다.
  -  Tom - Jerry
  -  Tom - Mike
  -  Jerry - Mike

### -- 사람이 총 n명일 때 두 명을 뽑아 짝으로 만드는 방법은 동명이인 찾기 문제에서 비교 부분을 출력 문자으로 고치면 쉽게 풀 수 있습니다.

In [20]:
# n명에서 두 명을 뽑아 짝으로 만드는 모든 경우를 찾는 알고리즘
# 입력: n명의 이름이 들어 있는 리스트
# 출력: 두 명을 뽑아 만들 수 있는 모든 짝

def print_pairs(a):
    n = len(a)
    for i in range(0,n-1):
        for j in range(i+1,n):
            print(a[i],'-',a[j])

name = ['Tom','Jerry','Mike']
print_pairs(name)
print()
name2 = ['Tom','Jerry','Mike','John']
print_pairs(name2)

Tom - Jerry
Tom - Mike
Jerry - Mike

Tom - Jerry
Tom - Mike
Tom - John
Jerry - Mike
Jerry - John
Mike - John

### **참고로 n명에서 두 명을 뽑아 짝으로 만들면 짝 조합이 n(n-1)/2 까지 출력됩니다.이 경우의 수를 nC2라고도 표현합니다.**