<a href="https://colab.research.google.com/github/orizay/free-fonts/blob/master/Pandas_in_Python_Tutorial1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducing Pandas Library


- Why Pandas ? It is library that provides fast data cleaning,preparation,and analysis & is easy to Use for data visualization & machine learning.
- What is Pandas ? It is Built on top of Numpy,Which makes it easy to work with arrays & Matrices(Called Series & DataFrames in Pandas).

# Indexing in Pandas


- An index is a list of integers or labels you use to uniquely identify rows or columns.
- This course Uses
  - A Set of Square brackets[....]
  - Special Field .ix**(.loc)**Indexer

# **DataFrame object**
![대체 텍스트](https://www.dataquest.io/wp-content/uploads/2019/01/df_blocks.png)


## Comparison Operators in Python
![대체 텍스트](https://www.engineeringbigdata.com/wp-content/uploads/python-comparison-operators.jpg)

# Code Demonstration


- Plain indexing
- Data Slicing
- Arithmetic Comparisons

# **Basics of Data Munging**

### Filtering and selecting data

In [2]:
import numpy as np
import pandas as pd

from pandas import Series,DataFrame

# **Selecting and retrieving data**

In [3]:
series_obj = Series(np.arange(8),index=['row 1','row 2','row 3','row 4','row 5','row 6','row 7','row 8'])
series_obj

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int64

In [4]:
series_obj['row 7']

6

In [5]:
series_obj[[0,7]]

row 1    0
row 8    7
dtype: int64

In [16]:
np.random.seed(25)
DF_obj = DataFrame(np.random.rand(36).reshape((6,6)),index=['row 1','row 2','row 3','row 4','row 5','row 6'],
         columns = ['column 1','column 2','column 3','column 4','column 5','column 6'])

DF_obj

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [17]:
DF_obj.loc[['row 2','row 2'],['column 5','column 2']]

       column 5  column 2
row 2  0.402366  0.437611
row 2  0.402366  0.437611

# **Data Slicing**

In [18]:
series_obj['row 3':'row 7']

row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
dtype: int64

# **Comparing with scalars**

In [19]:
DF_obj < .2

       column 1  column 2  column 3  column 4  column 5  column 6
row 1     False     False     False      True     False      True
row 2     False     False     False     False     False      True
row 3     False     False      True     False     False     False
row 4     False     False     False     False     False     False
row 5     False     False      True     False     False     False
row 6     False     False     False     False     False     False

# **Filtering with scalars**

In [20]:
series_obj[series_obj > 6]

row 8    7
dtype: int64

# **Setting valuse with scalars**

In [22]:
series_obj['row 1','row 5','row 8'] = 8
series_obj

row 1    8
row 2    1
row 3    2
row 4    3
row 5    8
row 6    5
row 7    6
row 8    8
dtype: int64