<a href="https://colab.research.google.com/github/orizay/free-fonts/blob/master/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_%EC%8B%A4%EA%B8%B0_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
!git clone https://github.com/Soyoung-Yoon/data_01

fatal: destination path 'data_01' already exists and is not an empty directory.

# Youtube 인기채널은?
- title: 채널명
- category: 카테고리
- subscriber: 구독자수
- view: 조회수
- video: 영상개수

In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv('data_01/youtube_rank.csv')

In [21]:
df.head()

                         title    category subscriber       view   video
0                    BLACKPINK  [음악/댄스/가수]      5140만  128억5130만    319개
1               Big Hit Labels  [음악/댄스/가수]      4550만  120억8966만    433개
2                    BANGTANTV  [음악/댄스/가수]      3870만   54억7598만  1,319개
3  Boram Tube Vlog [보람튜브 브이로그]    [키즈/어린이]      2650만  110억5288만    223개
4                       SMTOWN  [음악/댄스/가수]      2450만  180억7532만  3,583개

In [22]:
df.dtypes

title         object
category      object
subscriber    object
view          object
video         object
dtype: object

In [23]:
df['subscriber'].dtype

dtype('O')

In [24]:
#1-14 df의 각 column 별 dtype을 확인합니다
df.dtypes

title         object
category      object
subscriber    object
view          object
video         object
dtype: object

In [25]:
#1-15 df의 'subscriber'컬럼의 데이터타입을 확인해 본다
df['subscriber'].dtype

dtype('O')

In [26]:
#1-16 df의 'subscriber'의 첫3개행을 출력해 내용을 확인한다
df['subscriber'].head(3)

0    5140만
1    4550만
2    3870만
Name: subscriber, dtype: object

# 데이터 타입을 변격하는 방법
- Series.astype(타입)

- import numpy as np

In [27]:
#1-17 df의 'subscriber'컬럼의 dtype을 int64으로 변경하여 보라
#<오류 발생함> 한글,특수문자 드이 섞여 있으면 정수로 변경할수 없음.

In [28]:
#1-18 df의 'subscriber'컬럼에 대해 '만'을 '0000'으로 변경하는 코드를 작성
df['subscriber'].replace('만','0000').head()

0    5140만
1    4550만
2    3870만
3    2650만
4    2450만
Name: subscriber, dtype: object

In [29]:
df['subscriber'].replace('만','0000',regex=True).head()

0    51400000
1    45500000
2    38700000
3    26500000
4    24500000
Name: subscriber, dtype: object

In [30]:
#1-19 df의 'subscriber'컬럼에 대해 '만'을 '0000'으로 변경한뒤,astype('int64')를 사용하여 dtype을 변경하세요
df['subscriber'].replace('만','0000',regex=True).astype('int64').head()

0    51400000
1    45500000
2    38700000
3    26500000
4    24500000
Name: subscriber, dtype: int64

In [31]:
#1-20 df의'view'컬럼에 대해 첫 5개 행을 조회합니다
df['view'].head()

0    128억5130만
1    120억8966만
2     54억7598만
3    110억5288만
4    180억7532만
Name: view, dtype: object

In [32]:
#1-21 df의 'view'컬럼에 대해 '억'에 대해 삭제,'만'에 대해서는 '0000'로 변경하는 작업을 수행한뒤,처음 5개 데이터를 출력합니다.
# 변경할 내용이 여러 개일 경우 두개의 list 또는 dict를 사용합니다
df['view'].replace(['억','만'],['','0000'],regex=True).head()

0    12851300000
1    12089660000
2     5475980000
3    11052880000
4    18075320000
Name: view, dtype: object

In [33]:
df['view'].replace({'억':'','만':'0000'},regex=True).head()

0    12851300000
1    12089660000
2     5475980000
3    11052880000
4    18075320000
Name: view, dtype: object

In [34]:
#1-22 df의 'view'컬럼에 대해 '억'에 대해서 삭제,'만'에 대해서는 '0000'로 변경하는 작업을 수행한뒤,astype('int64')를 사용하여 데이터 타입을 정수로 변경하고 처음 5개 데이터를 출력합니다.
df['view'].replace({'억':'', '만':'0000'}, regex=True).astype('int64').head()

0    12851300000
1    12089660000
2     5475980000
3    11052880000
4    18075320000
Name: view, dtype: int64

In [35]:
#1-23 df의 'video'컬럼의 첫5개 데이터를 확인합니다.
df['video'].head()

0      319개
1      433개
2    1,319개
3      223개
4    3,583개
Name: video, dtype: object

In [36]:
#1-24 df의 'video'컬럼에서 '개'와 ' , '을 제거하는 작업을 수행한뒤, 처음 5개 데이터를 출력합니다.
# 콤마','는 의미가 있는 문자이므로 (\)를 함께 사용합니다.
# 메타문자 : , . + ? * ^ % ...등 메타문자의 기능을 없애기 위해 (\)
df['video'].replace(['\,' , '개' ],' ',regex=True).head()

0      319
1      433
2    1 319
3      223
4    3 583
Name: video, dtype: object

In [38]:
#1-25 df의 'video'컬럼에서 '개',' , '을 제거하고 ,astype(int64)를 사용하여 작업을 수행한뒤, 처음 5개 데이터를 출력합니다.
df['video'].replace(['\,','개'],'', regex=True).astype('int64').head()

0     319
1     433
2    1319
3     223
4    3583
Name: video, dtype: int64

# 원래 데이터의 값별 개수 확인:
- Series.value_conts():값 별 개수를 Series로 반환
- 개수가 많은것 부터 내림차순 정렬되어 반환됨
- 값이 index,개수가 value 로 사용됨

## index 정렬
- DataFrame/Series.sort_index(ascending=True)

In [39]:
#1-26 df의 열중'category'컬럼에 대해 값 별 개수를 확인합니다
df['category'].value_counts()

[음악/댄스/가수]     175
[TV/방송]        161
[게임]           101
[키즈/어린이]        95
[음식/요리/레시피]     88
[BJ/인물/연예인]     68
[패션/미용]         57
[뉴스/정치/사회]      56
[취미/라이프]        40
[미분류]           40
[영화/만화/애니]      33
[교육/강의]         23
[애완/반려동물]       20
[스포츠/운동]        12
[IT/기술/컴퓨터]      8
[해외]             6
[주식/경제/부동산]      5
[국내/해외/여행]       5
[회사/오피셜]         4
[자동차]            2
[취미]             1
Name: category, dtype: int64

In [43]:
#1-27 df의 'category'에 대해 첫 글자와 마지막글자인'[',']'을 제거 합니다.
# replace를 사용하여 제거할수 있지만, Accessor 중 str을 사용하여 보도록 합니다.
df['category'].replace({'\[':'','\]':''},regex=True).head() 

#첫글자,마지막글자가 아니라도 제거함

0    음악/댄스/가수
1    음악/댄스/가수
2    음악/댄스/가수
3      키즈/어린이
4    음악/댄스/가수
Name: category, dtype: object

In [44]:
temp = df['category'].replace({'\[':'','\]':''},regex=True)
temp

0      음악/댄스/가수
1      음악/댄스/가수
2      음악/댄스/가수
3        키즈/어린이
4      음악/댄스/가수
         ...
995         미분류
996      취미/라이프
997       TV/방송
998         미분류
999       TV/방송
Name: category, Length: 1000, dtype: object

In [45]:
temp.value_counts()

음악/댄스/가수     175
TV/방송        161
게임           101
키즈/어린이        95
음식/요리/레시피     88
BJ/인물/연예인     68
패션/미용         57
뉴스/정치/사회      56
취미/라이프        40
미분류           40
영화/만화/애니      33
교육/강의         23
애완/반려동물       20
스포츠/운동        12
IT/기술/컴퓨터      8
해외             6
주식/경제/부동산      5
국내/해외/여행       5
회사/오피셜         4
자동차            2
취미             1
Name: category, dtype: int64