<a href="https://colab.research.google.com/github/orizay/free-fonts/blob/master/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_%EC%8B%A4%EA%B8%B0_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. 파일 다운(drinks.csv)

In [1]:
!git clone https://github.com/Soyoung-Yoon/data_01

Cloning into 'data_01'...
remote: Enumerating objects: 50, done.
remote: Counting objects: 100% (50/50), done.
remote: Compressing objects: 100% (50/50), done.
remote: Total 50 (delta 16), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (50/50), done.

#2. Colab에서 한글폰트 사용하기

# 3.알코올을 가장 많이 마히는 나라는?
- country: 국가명
- beer_servings: 맥주 소비량
- spirit_servings: 중류주 소비량(독주,알코올 함량 20%이상의 설탕을 첨가하지 않은 중류주)
- wine_servings: 와인 소비량
- total_litres_of_pure_alcohol: 순수 알코올
- continent: 대륙

In [2]:
#[2-0] 라이브러리 import
import pandas as pd

# 3-1.파일 가져오기
- csv 파일은 컬럼 구분이 콤마(,)로 이루어진 파일
- df = pd.read_csv(파일이름): csv 형식의 파일을 읽어 DataFrame객체로 가져옴
- DataFrame.to_csv(파일이름,index=True): DataFrame은 csv 파일로 저장
  - index는 제외하고 저장하기 위해서는 index=False로 지정

In [3]:
#[2-1]drink.csv 파일을 DataFrame으로 불러 오기 합니다
df = pd.read_csv('data_01/drinks.csv')

In [4]:
#[2-2]df의 데이터 모습을 확인하기 위해 첫 5개 데이터를 출력합니다
df.head()

       country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0  Afghanistan              0  ...                           0.0         AS
1      Albania             89  ...                           4.9         EU
2      Algeria             25  ...                           0.7         AF
3      Andorra            245  ...                          12.4         EU
4       Angola            217  ...                           5.9         AF

[5 rows x 6 columns]

In [5]:
#[2-3]df의 컬럼명을 한글로 변경합니다['국가', '맥주', '증류주', '와인', '알코올', '대륙']
df.columns = ['국가', '맥주', '증류주', '와인', '알코올', '대륙']
df.head(3)

            국가  맥주  증류주  와인  알코올  대륙
0  Afghanistan   0    0   0  0.0  AS
1      Albania  89  132  54  4.9  EU
2      Algeria  25    0  14  0.7  AF

In [6]:
#[2-4]df의 row의 개수와 각 columns의 정보 및 메모리 사용량을 확인하기
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국가      193 non-null    object
 1   맥주      193 non-null    int64
 2   증류주     193 non-null    int64
 3   와인      193 non-null    int64
 4   알코올     193 non-null    float64
 5   대륙      170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [7]:
#object 타입정보까지 확인하려면(info(memory_usage='deep'))
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국가      193 non-null    object
 1   맥주      193 non-null    int64
 2   증류주     193 non-null    int64
 3   와인      193 non-null    int64
 4   알코올     193 non-null    float64
 5   대륙      170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 29.0 KB

### '대륙'에 대한 정보가 부족한것을 확인할수 있습니다.이유가 무엇일 까요?
- 아시아: AS, 유럽: EU, 아프리카: AF, 북아메리카: NA, 남아메리카: SA, 오세아니아: OC

## 3-2.결측치 확인 및 해결
- 결측치
  - 값이 없음을 나타냄
  - NaN, NaT, None등으로 표시되며,NA,Value, MissingValue라고함

- 결측치 확인 
  - DataFrame.isna(): 결측치에 대해 True,아니면 False
  - DataFrame.isnull(): DataFrame.isna()와 동일함
  - DataFrame.notna(): 결측치가 이닌것에 대해 True, 결측치면 False
  - DataFrame.notnull(): DataFrame.isnull()와 동일함
  - Series에도 결측치 확인을 위한 isna() ~ notnull()의 메서드 있음
  - DataFrame.isna().sum(): 결측치에 대해 컬럼별 개수

## 데이터 종류 확인
- 주로 범주형 데이터데 사용함
  - 성별,지역,부서 등의 몇개의 그룹으로 표현되는 데이터
  - 수자 또는 문자열로 표현될수 있음
- Series.unique(): 결측치를 포함하여,중복을 제외환 데이터의 종류를 ndarray로 반환
- Series.value_counts(): 결측치를 포함하지 않으며, 데이터 종류별 개수를 Series로 반환

In [8]:
#[2-5] 대륙의 종류를 알아봅니다
# 결과를 보면 csv파일에서 'NA'로 되어 있는 데이터를 'NaN(nan)으로 가져온 것입니다.
df['대륙'].unique()

array(['AS', 'EU', 'AF', nan, 'SA', 'OC'], dtype=object)

In [9]:
pd.Series(df['대륙'].unique())

0     AS
1     EU
2     AF
3    NaN
4     SA
5     OC
dtype: object

In [10]:
#[2-6] 대륙별 개수를 알아봅니다
df['대륙'].value_counts()

AF    53
EU    45
AS    44
OC    16
SA    12
Name: 대륙, dtype: int64

In [11]:
#[2-7] 결측치를 컬럼 별로 집계해 봅니다
df.isna()

        국가     맥주    증류주     와인    알코올     대륙
0    False  False  False  False  False  False
1    False  False  False  False  False  False
2    False  False  False  False  False  False
3    False  False  False  False  False  False
4    False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...
188  False  False  False  False  False  False
189  False  False  False  False  False  False
190  False  False  False  False  False  False
191  False  False  False  False  False  False
192  False  False  False  False  False  False

[193 rows x 6 columns]

In [12]:
df.isna().sum()

국가      0
맥주      0
증류주     0
와인      0
알코올     0
대륙     23
dtype: int64

In [13]:
#[2-8] isna()를 사용해 대륙에서 결측치로 취급된 데이터만 출력해봅니다
#북아메리카(NA)에 포함되는 국가들인 것을 확인할 수 있습니다
df['대륙'].isna()

0      False
1      False
2      False
3      False
4      False
       ...
188    False
189    False
190    False
191    False
192    False
Name: 대륙, Length: 193, dtype: bool

In [14]:
df[df['대륙'].isna()]

                               국가   맥주  증류주   와인   알코올   대륙
5               Antigua & Barbuda  102  128   45   4.9  NaN
11                        Bahamas  122  176   51   6.3  NaN
14                       Barbados  143  173   36   6.3  NaN
17                         Belize  263  114    8   6.8  NaN
32                         Canada  240  122  100   8.2  NaN
41                     Costa Rica  149   87   11   4.4  NaN
43                           Cuba   93  137    5   4.2  NaN
50                       Dominica   52  286   26   6.6  NaN
51             Dominican Republic  193  147    9   6.2  NaN
54                    El Salvador   52   69    2   2.2  NaN
68                        Grenada  199  438   28  11.9  NaN
69                      Guatemala   53   69    2   2.2  NaN
73                          Haiti    1  326    1   5.9  NaN
74                       Honduras   69   98    2   3.0  NaN
84                        Jamaica   82   97    9   3.4  NaN
109                        Mexico  238   68    5   5.5  NaN
122                     Nicaragua   78  118    1   3.5  NaN
130                        Panama  285  104   18   7.2  NaN
143             St. Kitts & Nevis  194  205   32   7.7  NaN
144                     St. Lucia  171  315   71  10.1  NaN
145  St. Vincent & the Grenadines  120  221   11   6.3  NaN
174             Trinidad & Tobago  197  156    7   6.4  NaN
184                           USA  249  158   84   8.7  NaN

## 결측치 해결방법
- 'NA'를 'NaN'(결측치)로 읽는 동작을 멈추게 함
  - pd.read_csv(파일이름, na_filter=False): 파일에서 데이터를 가져올 때 결측치로 인지되는 데이터를 결측치로 읽어 오는 동작을 멈추도록 함

- 결측치를 다른 값으로 채우기 함
  - DataFrame.fillna(값) 또는 Sreies.fillna(값): 결측값을 특정 값으로 채우기
    - 연속형 데이터 : 0 을 채우기, 평균값으로 채우기, 범주별 평균값 채우기 등
    - 범주형 데이터 : 다른 범주로 만들어 채우기
- DataFrame.loc[Series.isna(), 컬럼명]=값

In [15]:
#[2-9] 해결방법1
#read_csv의 옵션을 사용하여 해결 함
#read_csv에서 'NA'를 'NaN'으로 읽도록 하는 동작을 멈추게 합니다.
#na_filter=False를 사용하면 'NA'를 'NaN'으로 읽지 않습니다.

temp = pd.read_csv('data_01/drinks.csv', na_filter=False)
temp

         country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0    Afghanistan              0  ...                           0.0         AS
1        Albania             89  ...                           4.9         EU
2        Algeria             25  ...                           0.7         AF
3        Andorra            245  ...                          12.4         EU
4         Angola            217  ...                           5.9         AF
..           ...            ...  ...                           ...        ...
188    Venezuela            333  ...                           7.7         SA
189      Vietnam            111  ...                           2.0         AS
190        Yemen              6  ...                           0.1         AS
191       Zambia             32  ...                           2.5         AF
192     Zimbabwe             64  ...                           4.7         AF

[193 rows x 6 columns]

In [16]:
#[2-10] temp의 'continent'(대륙)에 포함된 값의 종류를 unique()를 사용해 살펴 봅니다.
#'NaN'대신 'NA'가 있는 것을 확인할수 있습니다.
temp['continent'].unique()

array(['AS', 'EU', 'AF', 'NA', 'SA', 'OC'], dtype=object)

In [17]:
temp.isna().sum()

country                         0
beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
continent                       0
dtype: int64

In [18]:
#[2-10] 해결방법 2
# NaN으로 읽어온 데이터를 'NA'로 변경합니다
df['대륙'].fillna('NA') # 그냥 이렇게 쓰면 적용이 안됩니다

0      AS
1      EU
2      AF
3      EU
4      AF
       ..
188    SA
189    AS
190    AS
191    AF
192    AF
Name: 대륙, Length: 193, dtype: object

In [19]:
df['대륙'] = df['대륙'].fillna('NA')

In [20]:
df

              국가   맥주  증류주   와인   알코올  대륙
0    Afghanistan    0    0    0   0.0  AS
1        Albania   89  132   54   4.9  EU
2        Algeria   25    0   14   0.7  AF
3        Andorra  245  138  312  12.4  EU
4         Angola  217   57   45   5.9  AF
..           ...  ...  ...  ...   ...  ..
188    Venezuela  333  100    3   7.7  SA
189      Vietnam  111    2    1   2.0  AS
190        Yemen    6    0    0   0.1  AS
191       Zambia   32   19    4   2.5  AF
192     Zimbabwe   64   18    4   4.7  AF

[193 rows x 6 columns]

In [21]:
df.loc[df['대륙'].isna(),'대륙'] = 'NA'

In [22]:
#[2-11] 결측치가 제거되었는지 컬럼 별 결측치 개수를 출력해 확인합니다
df.isna().sum()

국가     0
맥주     0
증류주    0
와인     0
알코올    0
대륙     0
dtype: int64

In [23]:
#[2-12] unique()를 사용하여 '대룩'의 종류를 확인해 봅니다
df['대륙'].unique()

array(['AS', 'EU', 'AF', 'NA', 'SA', 'OC'], dtype=object)

## 3-3. 통계값 구하기
- DataFrame.describer(): 컬럼별 count,mean, std, min, max, Q1, Q2, Q3 등의 통계값 구하기
- DataFrame.count(): 개수
- DataFrame.sum(): 합계
- DataFrame.mean(): 평균
- DataFrame.median(): 중앙값
- DataFrame.std(): 표준편차
- DataFrame.var(): 분산
- DataFrame.quantile(): 분위수
- DataFrame.함수(axis= 1)을 사용하여 행별 통계값을 구할수 있습니다
  - axis= 0 : 기본값이며, 행을 이동하며, 행과행의 연산을 수행함
  - axis= 1 : 컬럼을 이동하며 컬럼과 컬럼의 연산을 수행합

In [24]:
#[2-13] describe 함수를 사용해 전세계 맥주, 증류주, 와인, 알코올 소비에 대한 통계치를 구해봅니다
df.describe()

               맥주         증류주          와인         알코올
count  193.000000  193.000000  193.000000  193.000000
mean   106.160622   80.994819   49.450777    4.717098
std    101.143103   88.284312   79.697598    3.773298
min      0.000000    0.000000    0.000000    0.000000
25%     20.000000    4.000000    1.000000    1.300000
50%     76.000000   56.000000    8.000000    4.200000
75%    188.000000  128.000000   59.000000    7.200000
max    376.000000  438.000000  370.000000   14.400000

In [25]:
#[2-14] 전세계맥주, 증류주, 와인, 알코올 소비에 대한 정보만 추출하여 df2로 지정합니다
df2 = df[['맥주','증류주','와인','알코올']]
df2.head()

    맥주  증류주   와인   알코올
0    0    0    0   0.0
1   89  132   54   4.9
2   25    0   14   0.7
3  245  138  312  12.4
4  217   57   45   5.9

In [26]:
#[2-15] 전세계 맥주,증류주,와인, 알코올이 소비에 대한(df2)'평균'만 구해봅니다
df2.mean()

맥주     106.160622
증류주     80.994819
와인      49.450777
알코올      4.717098
dtype: float64

In [27]:
#[2-16] 전세계 맥주,증류주,와인, 알코올이 소비에 대한(df2)'중앙값'만 구해봅니다
df2.median()

맥주     76.0
증류주    56.0
와인      8.0
알코올     4.2
dtype: float64

In [28]:
#[2-17] 전세계 맥주,증류주,와인, 알코올이 소비에 대한(df2)'최대값'만 구해봅니다
df2.max()

맥주     376.0
증류주    438.0
와인     370.0
알코올     14.4
dtype: float64

In [29]:
#[2-18] 전세계 맥주,증류주,와인, 알코올이 소비에 대한(df2)'최소값'만 구해봅니다
df2.min()

맥주     0.0
증류주    0.0
와인     0.0
알코올    0.0
dtype: float64

In [30]:
#[2-19] 전세계 맥주,증류주,와인, 알코올이 소비에 대한(df2)'Q1, Q2, Q3를 구해봅니다
df2.quantile([0.25, 0.5, 0.75])

         맥주    증류주    와인  알코올
0.25   20.0    4.0   1.0  1.3
0.50   76.0   56.0   8.0  4.2
0.75  188.0  128.0  59.0  7.2

In [31]:
temp = df2.quantile([0.25, 0.5, 0.75])
temp.index = ['Q1','Q2','Q3']
temp

       맥주    증류주    와인  알코올
Q1   20.0    4.0   1.0  1.3
Q2   76.0   56.0   8.0  4.2
Q3  188.0  128.0  59.0  7.2

In [32]:
# * 전세계 맥주,증류주,와인, 알코올이 소비에 대한(df2)'표준편차','분산'에 대해서도 작업해봅니다
df2.std()

맥주     101.143103
증류주     88.284312
와인      79.697598
알코올      3.773298
dtype: float64

In [33]:
df2.var()

맥주     10229.927191
증류주     7794.119765
와인      6351.707200
알코올       14.237779
dtype: float64

In [34]:
#[2-20] df(object dtype이 존재함)에 대해서 컬럼별 min을 구해 봅니다
# dtype()이 object이 컬럼의 min은 오름차순 정렬시 가장앞에 있는것
# dtype()이 object이 컬럼의 max는 오름차순 정렬시 가장뒤에 있는것
# 문자열 정렬시에는 문자의 코드값을 사용함: ord(문자)
df.min()

국가     Afghanistan
맥주               0
증류주              0
와인               0
알코올              0
대륙              AF
dtype: object

In [35]:
df.max()

국가     Zimbabwe
맥주          376
증류주         438
와인          370
알코올        14.4
대륙           SA
dtype: object

In [36]:
ord('0'), ord('1'), ord('A'), ord('B'), ord('a'), ord('b')

(48, 49, 65, 66, 97, 98)

### 각 컬럼 별 함수 적용
- DataFrame.apply(함수): Series로 결과가 반환 됨
- DataFrame.apply([['함수1', '함수2', ...]]): DataFrame으로 결과가 반환 됨
- 사용자 정의 함수, 외부함수, 내장함수 등 다양한 함수를 사용할수 있음
- Series의 통계 함수들은 문자열 형태로 사용할수 있음: 'min, max, count, std, var, mean, median....

In [37]:
#[2-21] df2의 각 컬럼별 평균을 구해 보자
df2.apply('mean')

맥주     106.160622
증류주     80.994819
와인      49.450777
알코올      4.717098
dtype: float64

In [38]:
df2.mean()

맥주     106.160622
증류주     80.994819
와인      49.450777
알코올      4.717098
dtype: float64

In [39]:
#[2-22] df2의 최솟값,최대,평균값을 구해보자
df2.apply(['min', 'max', 'mean'])

              맥주         증류주          와인        알코올
min     0.000000    0.000000    0.000000   0.000000
max   376.000000  438.000000  370.000000  14.400000
mean  106.160622   80.994819   49.450777   4.717098

## 3-4. 주류 소비량 비교

In [40]:
# pandas의 max_rows, max_columns 설정
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 10)

### Series 연산
- Series 끼리 또는 Series와 스칼라는 다양한 연산을 할수 있음
- index에 맞춰 element wise 연산됨
  - 산술연산(수치): + - * / // %
  - 비교연산(True/False): > < >= <= == !=
  - True/False의 관계연산(True/False): & | ~

In [41]:
#[2-23] 와인소비량이 맥주+증류주 소비량보다 큰 나라를 검색해 '대륙'을 기준으로 정렬해 보자
df[df['와인'] > (df['맥주'] + df['증류주'])].sort_values('대륙')

                      국가   맥주  증류주   와인   알코올  대륙
55     Equatorial Guinea   92    0  233   5.8  AF
148  Sao Tome & Principe   56   38  140   4.2  AF
92                  Laos   62    0  123   6.2  AS
171          Timor-Leste    1    1    4   0.1  AS
61                France  127  151  370  11.8  EU
83                 Italy   85   42  237   6.5  EU
136             Portugal  194   67  339  11.0  EU
6              Argentina  193   25  221   8.3  SA
185              Uruguay  115   35  220   6.6  SA

In [42]:
#[2-24] 맥주소비량이 230 초과이면서, 와인 소비량이ㅣ 230 초과인 나라를 검색해보자
df[(df['맥주'] > 230) & (df['와인'] > 230)]

             국가   맥주  증류주   와인   알코올  대륙
3       Andorra  245  138  312  12.4  EU
99   Luxembourg  236  133  271  11.4  EU
156    Slovenia  270   51  276  10.6  EU

In [43]:
#[2-25] 대륙이 'AS'인 국가들의 정보를 검색해보자
df[df['대륙'] == 'AS']

                       국가   맥주  증류주   와인   알코올  대륙
0             Afghanistan    0    0    0   0.0  AS
12                Bahrain   42   63    7   2.0  AS
13             Bangladesh    0    0    0   0.0  AS
19                 Bhutan   23    0    0   0.4  AS
24                 Brunei   31    2    1   0.6  AS
30               Cambodia   57   65    1   2.2  AS
36                  China   79  192    8   5.0  AS
46            North Korea    0    0    0   0.0  AS
77                  India    9  114    0   2.2  AS
78              Indonesia    5    1    0   0.1  AS
79                   Iran    0    0    0   0.0  AS
80                   Iraq    9    3    0   0.2  AS
82                 Israel   63   69    9   2.5  AS
85                  Japan   77  202   16   7.0  AS
86                 Jordan    6   21    1   0.5  AS
87             Kazakhstan  124  246   12   6.8  AS
90                 Kuwait    0    0    0   0.0  AS
91             Kyrgyzstan   31   97    6   2.4  AS
92                   Laos   62    0  123   6.2  AS
94                Lebanon   20   55   31   1.9  AS
102              Malaysia   13    4    0   0.3  AS
103              Maldives    0    0    0   0.0  AS
112              Mongolia   77  189    8   4.9  AS
116               Myanmar    5    1    0   0.1  AS
119                 Nepal    5    6    0   0.2  AS
127                  Oman   22   16    1   0.7  AS
128              Pakistan    0    0    0   0.0  AS
134           Philippines   71  186    1   4.6  AS
137                 Qatar    1   42    7   0.9  AS
138           South Korea  140   16    9   9.8  AS
141    Russian Federation  247  326   73  11.5  AS
149          Saudi Arabia    0    5    0   0.1  AS
154             Singapore   60   12   11   1.5  AS
161             Sri Lanka   16  104    0   2.2  AS
167                 Syria    5   35   16   1.0  AS
168            Tajikistan    2   15    0   0.3  AS
169              Thailand   99  258    1   6.4  AS
171           Timor-Leste    1    1    4   0.1  AS
176                Turkey   51   22    7   1.4  AS
177          Turkmenistan   19   71   32   2.2  AS
181  United Arab Emirates   16  135    5   2.8  AS
186            Uzbekistan   25  101    8   2.4  AS
189               Vietnam  111    2    1   2.0  AS
190                 Yemen    6    0    0   0.1  AS

### DataFrame 
- DataFrame에 새로운 컬럼 추가
  - DataFrame[컬럼명] = 데이터 목록
  - 컬럼명은 기존 DataFrmae에 존재하지 않는 이름이어야 함
  - 대이터목록은 DataFrame의 다른 컬럼들과 같은 개수이어야 하며 list, Series등의 형태일수 있음
- DataFrame의 컬럼 제거
  - del DataFrame[컬럼명]
  - DataFrame.drop(컬럼명, axis=1), DataFrame.drop([컬럼명1,컬럼명2,...], axis=1)
  - DataFrame.drop(columns=[컬럼명,...])
- DataFrame의 열 제거
  - axis=0 이 기본값이므로 생략해도 됨
  - DataFrame.drop(열이름), DataFrame.drop([열이름1,열이름2,...])
  - DataFrame.drop(rows=[열이름1, 열이름2,...])

In [44]:
#[2-26] 국가별 주류소비량 합계를 구해 새로운 컬럼('주류소비량')를 추가합니다.
# 주류소비량 = '맥주' + '증류주' + '와인'
df['주류소비량'] = df['맥주'] + df['증류주'] + df['와인']
df.head()

            국가   맥주  증류주   와인   알코올  대륙  주류소비량
0  Afghanistan    0    0    0   0.0  AS      0
1      Albania   89  132   54   4.9  EU    275
2      Algeria   25    0   14   0.7  AF     39
3      Andorra  245  138  312  12.4  EU    695
4       Angola  217   57   45   5.9  AF    319

In [45]:
#[2-27] 주류소비량2=['맥주'+'증류주'+'와인']에 대해 DataFrame.sum(axis=1)함수 사용
df['주류소비량2'] = df[['맥주', '증류주', '와인']].sum(axis=1)
df.head()

            국가   맥주  증류주   와인   알코올  대륙  주류소비량  주류소비량2
0  Afghanistan    0    0    0   0.0  AS      0       0
1      Albania   89  132   54   4.9  EU    275     275
2      Algeria   25    0   14   0.7  AF     39      39
3      Andorra  245  138  312  12.4  EU    695     695
4       Angola  217   57   45   5.9  AF    319     319

In [46]:
#[2-28] 주류소비량 대비 알코올 소비량비율을 구해 새로운 컬럼('알코올비율')을 추가합니다.
# 알코올비율 = 알코올 / 주류소비량
df['알코올비율'] = df['알코올'] / df['주류소비량']
df.head()

            국가   맥주  증류주   와인   알코올  대륙  주류소비량  주류소비량2     알코올비율
0  Afghanistan    0    0    0   0.0  AS      0       0       NaN
1      Albania   89  132   54   4.9  EU    275     275  0.017818
2      Algeria   25    0   14   0.7  AF     39      39  0.017949
3      Andorra  245  138  312  12.4  EU    695     695  0.017842
4       Angola  217   57   45   5.9  AF    319     319  0.018495

In [47]:
#[2-29] 알코올비율이 높은 국가 TOP5의 ['국가','주류소비량','알코올비율']정보를 구해봅니다.
#HINT: sort_values, indexing사용
df[['국가', '주류소비량', '알코올비율']].sort_values('알코올비율', ascending=False).head()

               국가  주류소비량     알코올비율
63         Gambia      9  0.266667
153  Sierra Leone     30  0.223333
124       Nigeria     49  0.185714
179        Uganda     54  0.153704
142        Rwanda     45  0.151111

In [48]:
#[2-30] '주류소비량2'컬럼을 제거하여 봅니다.
df = df.drop('주류소비량2', axis=1)
df.head()

            국가   맥주  증류주   와인   알코올  대륙  주류소비량     알코올비율
0  Afghanistan    0    0    0   0.0  AS      0       NaN
1      Albania   89  132   54   4.9  EU    275  0.017818
2      Algeria   25    0   14   0.7  AF     39  0.017949
3      Andorra  245  138  312  12.4  EU    695  0.017842
4       Angola  217   57   45   5.9  AF    319  0.018495

In [49]:
#[2-31] '알코올비율'이 NaN인 것에 대해 0으로 채우기 합니다.
df['알코올비율'] = df['알코올비율'].fillna(0)
df.head()

            국가   맥주  증류주   와인   알코올  대륙  주류소비량     알코올비율
0  Afghanistan    0    0    0   0.0  AS      0  0.000000
1      Albania   89  132   54   4.9  EU    275  0.017818
2      Algeria   25    0   14   0.7  AF     39  0.017949
3      Andorra  245  138  312  12.4  EU    695  0.017842
4       Angola  217   57   45   5.9  AF    319  0.018495

### columns, Index 상호변경
- DataFrame.set_index(컬럼명): 지정한 컬럼을 index로 설정
- DataFrame.set_index([컬럼명1,컬럼명2,...]): 컬럼 목록을 index(Multi Index)로 지정
  - columns에서 index쪽으로 이동 됨, 기존 index는 제거 됨.
- DataFrame.reset_index(): 모든 index가 columns로 이동 됨.
  - index는 RangeIndex로 대체 됨.

In [51]:
#[2-32] 국가별 주류 소비량 합계(맥주,증류주,와인의 합)를 구해봅니다.
df.set_index('국가')[['맥주', '증류주', '와인']].sum(axis=1)

국가
Afghanistan                       0
Albania                         275
Algeria                          39
Andorra                         695
Angola                          319
Antigua & Barbuda               275
Argentina                       439
Armenia                         211
Australia                       545
Austria                         545
Azerbaijan                       72
Bahamas                         349
Bahrain                         112
Bangladesh                        0
Barbados                        352
Belarus                         557
Belgium                         591
Belize                          385
Benin                            51
Bhutan                           23
Bolivia                         216
Bosnia-Herzegovina              257
Botswana                        243
Brazil                          406
Brunei                           34
Bulgaria                        577
Burkina Faso                     39
Burundi                          88
Cote d'Ivoire                    45
Cabo Verde                      216
Cambodia                        123
Cameroon                        152
Canada                          462
Central African Republic         20
Chad                             17
Chile                           426
China                           279
Colombia                        238
Comoros                           5
Congo                            86
Cook Islands                    328
Costa Rica                      247
Croatia                         571
Cuba                            235
Cyprus                          459
Czech Republic                  665
North Korea                       0
DR Congo                         36
Denmark                         583
Djibouti                         62
Dominica                        364
Dominican Republic              349
Ecuador                         239
Egypt                            11
El Salvador                     123
Equatorial Guinea               325
Eritrea                          18
Estonia                         477
Ethiopia                         23
Fiji                            113
Finland                         493
France                          648
Gabon                           504
Gambia                            9
Georgia                         301
Germany                         638
Ghana                            44
Greece                          463
Grenada                         665
Guatemala                       124
Guinea                           11
Guinea-Bissau                    80
Guyana                          396
Haiti                           328
Honduras                        169
Hungary                         634
Iceland                         372
India                           123
Indonesia                         6
Iran                              0
Iraq                             12
Ireland                         596
Israel                          141
Italy                           364
Jamaica                         188
Japan                           295
Jordan                           28
Kazakhstan                      382
Kenya                            82
Kiribati                         56
Kuwait                            0
Kyrgyzstan                      134
Laos                            185
Latvia                          559
Lebanon                         106
Lesotho                         111
Liberia                         173
Libya                             0
Lithuania                       643
Luxembourg                      640
Madagascar                       45
Malawi                           20
Malaysia                         17
Maldives                          0
Mali                              7
Malta                           369
Marshall Islands                  0
Mauritania                        0
Mauritius                       147
Mexico                          311
Micronesia                      130
Monaco                            0
Mongolia                        274
Montenegro                      273
Morocco                          28
Mozambique                       70
Myanmar                           6
Namibia                         380
Nauru                            57
Nepal                            11
Netherlands                     529
New Zealand                     457
Nicaragua                       197
Niger                             6
Nigeria                          49
Niue                            395
Norway                          369
Oman                             39
Pakistan                          0
Palau                           392
Panama                          407
Papua New Guinea                 84
Paraguay                        404
Peru                            344
Philippines                     258
Poland                          614
Portugal                        600
Qatar                            50
South Korea                     165
Moldova                         353
Romania                         586
Russian Federation              646
Rwanda                           45
St. Kitts & Nevis               431
St. Lucia                       557
St. Vincent & the Grenadines    352
Samoa                           147
San Marino                        0
Sao Tome & Principe             234
Saudi Arabia                      5
Senegal                          17
Serbia                          541
Seychelles                      233
Sierra Leone                     30
Singapore                        83
Slovakia                        605
Slovenia                        597
Solomon Islands                  68
Somalia                           0
South Africa                    382
Spain                           553
Sri Lanka                       120
Sudan                            21
Suriname                        313
Swaziland                        94
Sweden                          398
Switzerland                     565
Syria                            56
Tajikistan                       17
Thailand                        358
Macedonia                       219
Timor-Leste                       6
Togo                             57
Tonga                            62
Trinidad & Tobago               360
Tunisia                          74
Turkey                           80
Turkmenistan                    122
Tuvalu                           56
Uganda                           54
Ukraine                         488
United Arab Emirates            156
United Kingdom                  540
Tanzania                         43
USA                             491
Uruguay                         370
Uzbekistan                      134
Vanuatu                          50
Venezuela                       436
Vietnam                         114
Yemen                             6
Zambia                           55
Zimbabwe                         86
dtype: int64

In [59]:
#[2-33] df['대륙', '국가']를 index로 지정하고, 대륙별, 국가명으로 정렬하여 df로 저장합니다.
# df = df.set_index(['대륙', '국가']).sort_index
df

                                  맥주  증류주   와인   알코올  주류소비량     알코올비율
대륙 국가
AF Algeria                        25    0   14   0.7     39  0.017949
   Angola                        217   57   45   5.9    319  0.018495
   Benin                          34    4   13   1.1     51  0.021569
   Botswana                      173   35   35   5.4    243  0.022222
   Burkina Faso                   25    7    7   4.3     39  0.110256
   Burundi                        88    0    0   6.3     88  0.071591
   Cabo Verde                    144   56   16   4.0    216  0.018519
   Cameroon                      147    1    4   5.8    152  0.038158
   Central African Republic       17    2    1   1.8     20  0.090000
   Chad                           15    1    1   0.4     17  0.023529
   Comoros                         1    3    1   0.1      5  0.020000
   Congo                          76    1    9   1.7     86  0.019767
   Cote d'Ivoire                  37    1    7   4.0     45  0.088889
   DR Congo                       32    3    1   2.3     36  0.063889
   Djibouti                       15   44    3   1.1     62  0.017742
   Egypt                           6    4    1   0.2     11  0.018182
   Equatorial Guinea              92    0  233   5.8    325  0.017846
   Eritrea                        18    0    0   0.5     18  0.027778
   Ethiopia                       20    3    0   0.7     23  0.030435
   Gabon                         347   98   59   8.9    504  0.017659
   Gambia                          8    0    1   2.4      9  0.266667
   Ghana                          31    3   10   1.8     44  0.040909
   Guinea                          9    0    2   0.2     11  0.018182
   Guinea-Bissau                  28   31   21   2.5     80  0.031250
   Kenya                          58   22    2   1.8     82  0.021951
   Lesotho                        82   29    0   2.8    111  0.025225
   Liberia                        19  152    2   3.1    173  0.017919
   Libya                           0    0    0   0.0      0  0.000000
   Madagascar                     26   15    4   0.8     45  0.017778
   Malawi                          8   11    1   1.5     20  0.075000
   Mali                            5    1    1   0.6      7  0.085714
   Mauritania                      0    0    0   0.0      0  0.000000
   Mauritius                      98   31   18   2.6    147  0.017687
   Morocco                        12    6   10   0.5     28  0.017857
   Mozambique                     47   18    5   1.3     70  0.018571
   Namibia                       376    3    1   6.8    380  0.017895
   Niger                           3    2    1   0.1      6  0.016667
   Nigeria                        42    5    2   9.1     49  0.185714
   Rwanda                         43    2    0   6.8     45  0.151111
   Sao Tome & Principe            56   38  140   4.2    234  0.017949
   Senegal                         9    1    7   0.3     17  0.017647
   Seychelles                    157   25   51   4.1    233  0.017597
   Sierra Leone                   25    3    2   6.7     30  0.223333
   Somalia                         0    0    0   0.0      0  0.000000
   South Africa                  225   76   81   8.2    382  0.021466
   Sudan                           8   13    0   1.7     21  0.080952
   Swaziland                      90    2    2   4.7     94  0.050000
   Tanzania                       36    6    1   5.7     43  0.132558
   Togo                           36    2   19   1.3     57  0.022807
   Tunisia                        51    3   20   1.3     74  0.017568
   Uganda                         45    9    0   8.3     54  0.153704
   Zambia                         32   19    4   2.5     55  0.045455
   Zimbabwe                       64   18    4   4.7     86  0.054651
AS Afghanistan                     0    0    0   0.0      0  0.000000
   Bahrain                        42   63    7   2.0    112  0.017857
   Bangladesh                      0    0    0   0.0      0  0.000000
   Bhutan                         23    0    0   0.4     23  0.017391
   Brunei                         31    2    1   0.6     34  0.017647
   Cambodia                       57   65    1   2.2    123  0.017886
   China                          79  192    8   5.0    279  0.017921
   India                           9  114    0   2.2    123  0.017886
   Indonesia                       5    1    0   0.1      6  0.016667
   Iran                            0    0    0   0.0      0  0.000000
   Iraq                            9    3    0   0.2     12  0.016667
   Israel                         63   69    9   2.5    141  0.017730
   Japan                          77  202   16   7.0    295  0.023729
   Jordan                          6   21    1   0.5     28  0.017857
   Kazakhstan                    124  246   12   6.8    382  0.017801
   Kuwait                          0    0    0   0.0      0  0.000000
   Kyrgyzstan                     31   97    6   2.4    134  0.017910
   Laos                           62    0  123   6.2    185  0.033514
   Lebanon                        20   55   31   1.9    106  0.017925
   Malaysia                       13    4    0   0.3     17  0.017647
   Maldives                        0    0    0   0.0      0  0.000000
   Mongolia                       77  189    8   4.9    274  0.017883
   Myanmar                         5    1    0   0.1      6  0.016667
   Nepal                           5    6    0   0.2     11  0.018182
   North Korea                     0    0    0   0.0      0  0.000000
   Oman                           22   16    1   0.7     39  0.017949
   Pakistan                        0    0    0   0.0      0  0.000000
   Philippines                    71  186    1   4.6    258  0.017829
   Qatar                           1   42    7   0.9     50  0.018000
   Russian Federation            247  326   73  11.5    646  0.017802
   Saudi Arabia                    0    5    0   0.1      5  0.020000
   Singapore                      60   12   11   1.5     83  0.018072
   South Korea                   140   16    9   9.8    165  0.059394
   Sri Lanka                      16  104    0   2.2    120  0.018333
   Syria                           5   35   16   1.0     56  0.017857
   Tajikistan                      2   15    0   0.3     17  0.017647
   Thailand                       99  258    1   6.4    358  0.017877
   Timor-Leste                     1    1    4   0.1      6  0.016667
   Turkey                         51   22    7   1.4     80  0.017500
   Turkmenistan                   19   71   32   2.2    122  0.018033
   United Arab Emirates           16  135    5   2.8    156  0.017949
   Uzbekistan                     25  101    8   2.4    134  0.017910
   Vietnam                       111    2    1   2.0    114  0.017544
   Yemen                           6    0    0   0.1      6  0.016667
EU Albania                        89  132   54   4.9    275  0.017818
   Andorra                       245  138  312  12.4    695  0.017842
   Armenia                        21  179   11   3.8    211  0.018009
   Austria                       279   75  191   9.7    545  0.017798
   Azerbaijan                     21   46    5   1.3     72  0.018056
   Belarus                       142  373   42  14.4    557  0.025853
   Belgium                       295   84  212  10.5    591  0.017766
   Bosnia-Herzegovina             76  173    8   4.6    257  0.017899
   Bulgaria                      231  252   94  10.3    577  0.017851
   Croatia                       230   87  254  10.2    571  0.017863
   Cyprus                        192  154  113   8.2    459  0.017865
   Czech Republic                361  170  134  11.8    665  0.017744
   Denmark                       224   81  278  10.4    583  0.017839
   Estonia                       224  194   59   9.5    477  0.019916
   Finland                       263  133   97  10.0    493  0.020284
   France                        127  151  370  11.8    648  0.018210
   Georgia                        52  100  149   5.4    301  0.017940
   Germany                       346  117  175  11.3    638  0.017712
   Greece                        133  112  218   8.3    463  0.017927
   Hungary                       234  215  185  11.3    634  0.017823
   Iceland                       233   61   78   6.6    372  0.017742
   Ireland                       313  118  165  11.4    596  0.019128
   Italy                          85   42  237   6.5    364  0.017857
   Latvia                        281  216   62  10.5    559  0.018784
   Lithuania                     343  244   56  12.9    643  0.020062
   Luxembourg                    236  133  271  11.4    640  0.017813
   Macedonia                     106   27   86   3.9    219  0.017808
   Malta                         149  100  120   6.6    369  0.017886
   Moldova                       109  226   18   6.3    353  0.017847
   Monaco                          0    0    0   0.0      0  0.000000
   Montenegro                     31  114  128   4.9    273  0.017949
   Netherlands                   251   88  190   9.4    529  0.017769
   Norway                        169   71  129   6.7    369  0.018157
   Poland                        343  215   56  10.9    614  0.017752
   Portugal                      194   67  339  11.0    600  0.018333
   Romania                       297  122  167  10.4    586  0.017747
   San Marino                      0    0    0   0.0      0  0.000000
   Serbia                        283  131  127   9.6    541  0.017745
   Slovakia                      196  293  116  11.4    605  0.018843
   Slovenia                      270   51  276  10.6    597  0.017755
   Spain                         284  157  112  10.0    553  0.018083
   Sweden                        152   60  186   7.2    398  0.018090
   Switzerland                   185  100  280  10.2    565  0.018053
   Ukraine                       206  237   45   8.9    488  0.018238
   United Kingdom                219  126  195  10.4    540  0.019259
NA Antigua & Barbuda             102  128   45   4.9    275  0.017818
   Bahamas                       122  176   51   6.3    349  0.018052
   Barbados                      143  173   36   6.3    352  0.017898
   Belize                        263  114    8   6.8    385  0.017662
   Canada                        240  122  100   8.2    462  0.017749
   Costa Rica                    149   87   11   4.4    247  0.017814
   Cuba                           93  137    5   4.2    235  0.017872
   Dominica                       52  286   26   6.6    364  0.018132
   Dominican Republic            193  147    9   6.2    349  0.017765
   El Salvador                    52   69    2   2.2    123  0.017886
   Grenada                       199  438   28  11.9    665  0.017895
   Guatemala                      53   69    2   2.2    124  0.017742
   Haiti                           1  326    1   5.9    328  0.017988
   Honduras                       69   98    2   3.0    169  0.017751
   Jamaica                        82   97    9   3.4    188  0.018085
   Mexico                        238   68    5   5.5    311  0.017685
   Nicaragua                      78  118    1   3.5    197  0.017766
   Panama                        285  104   18   7.2    407  0.017690
   St. Kitts & Nevis             194  205   32   7.7    431  0.017865
   St. Lucia                     171  315   71  10.1    557  0.018133
   St. Vincent & the Grenadines  120  221   11   6.3    352  0.017898
   Trinidad & Tobago             197  156    7   6.4    360  0.017778
   USA                           249  158   84   8.7    491  0.017719
OC Australia                     261   72  212  10.4    545  0.019083
   Cook Islands                    0  254   74   5.9    328  0.017988
   Fiji                           77   35    1   2.0    113  0.017699
   Kiribati                       21   34    1   1.0     56  0.017857
   Marshall Islands                0    0    0   0.0      0  0.000000
   Micronesia                     62   50   18   2.3    130  0.017692
   Nauru                          49    0    8   1.0     57  0.017544
   New Zealand                   203   79  175   9.3    457  0.020350
   Niue                          188  200    7   7.0    395  0.017722
   Palau                         306   63   23   6.9    392  0.017602
   Papua New Guinea               44   39    1   1.5     84  0.017857
   Samoa                         105   18   24   2.6    147  0.017687
   Solomon Islands                56   11    1   1.2     68  0.017647
   Tonga                          36   21    5   1.1     62  0.017742
   Tuvalu                          6   41    9   1.0     56  0.017857
   Vanuatu                        21   18   11   0.9     50  0.018000
SA Argentina                     193   25  221   8.3    439  0.018907
   Bolivia                       167   41    8   3.8    216  0.017593
   Brazil                        245  145   16   7.2    406  0.017734
   Chile                         130  124  172   7.6    426  0.017840
   Colombia                      159   76    3   4.2    238  0.017647
   Ecuador                       162   74    3   4.2    239  0.017573
   Guyana                         93  302    1   7.1    396  0.017929
   Paraguay                      213  117   74   7.3    404  0.018069
   Peru                          163  160   21   6.1    344  0.017733
   Suriname                      128  178    7   5.6    313  0.017891
   Uruguay                       115   35  220   6.6    370  0.017838
   Venezuela                     333  100    3   7.7    436  0.017661

In [62]:
#[2-34] df의 index를 모두 columns로 이동합니다.
df = df.reset_index()
df

,index,대륙,국가,맥주,증류주,와인,알코올,주류소비량,알코올비율
0,0,AF,Algeria,25,0,14,0.7,39,0.017949
1,1,AF,Angola,217,57,45,5.9,319,0.018495
2,2,AF,Benin,34,4,13,1.1,51,0.021569
3,3,AF,Botswana,173,35,35,5.4,243,0.022222
4,4,AF,Burkina Faso,25,7,7,4.3,39,0.110256
5,5,AF,Burundi,88,0,0,6.3,88,0.071591
6,6,AF,Cabo Verde,144,56,16,4.0,216,0.018519
7,7,AF,Cameroon,147,1,4,5.8,152,0.038158
8,8,AF,Central African Republic,17,2,1,1.8,20,0.090000
9,9,AF,Chad,15,1,1,0.4,17,0.023529
10,10,AF,Comoros,1,3,1,0.1,5,0.020000
11,11,AF,Congo,76,1,9,1.7,86,0.019767
12,12,AF,Cote d'Ivoire,37,1,7,4.0,45,0.088889
13,13,AF,DR Congo,32,3,1,2.3,36,0.063889
14,14,AF,Djibouti,15,44,3,1.1,62,0.017742
15,15,AF,Egypt,6,4,1,0.2,11,0.018182
16,16,AF,Equatorial Guinea,92,0,233,5.8,325,0.017846
17,17,AF,Eritrea,18,0,0,0.5,18,0.027778
18,18,AF,Ethiopia,20,3,0,0.7,23,0.030435
19,19,AF,Gabon,347,98,59,8.9,504,0.017659
20,20,AF,Gambia,8,0,1,2.4,9,0.266667
21,21,AF,Ghana,31,3,10,1.8,44,0.040909
22,22,AF,Guinea,9,0,2,0.2,11,0.018182
23,23,AF,Guinea-Bissau,28,31,21,2.5,80,0.031250
24,24,AF,Kenya,58,22,2,1.8,82,0.021951
25,25,AF,Lesotho,82,29,0,2.8,111,0.025225
26,26,AF,Liberia,19,152,2,3.1,173,0.017919
27,27,AF,Libya,0,0,0,0.0,0,0.000000
28,28,AF,Madagascar,26,15,4,0.8,45,0.017778
29,29,AF,Malawi,8,11,1,1.5,20,0.075000
30,30,AF,Mali,5,1,1,0.6,7,0.085714
31,31,AF,Mauritania,0,0,0,0.0,0,0.000000
32,32,AF,Mauritius,98,31,18,2.6,147,0.017687
33,33,AF,Morocco,12,6,10,0.5,28,0.017857
34,34,AF,Mozambique,47,18,5,1.3,70,0.018571
35,35,AF,Namibia,376,3,1,6.8,380,0.017895
36,36,AF,Niger,3,2,1,0.1,6,0.016667
37,37,AF,Nigeria,42,5,2,9.1,49,0.185714
38,38,AF,Rwanda,43,2,0,6.8,45,0.151111
39,39,AF,Sao Tome & Principe,56,38,140,4.2,234,0.017949
40,40,AF,Senegal,9,1,7,0.3,17,0.017647
41,41,AF,Seychelles,157,25,51,4.1,233,0.017597
42,42,AF,Sierra Leone,25,3,2,6.7,30,0.223333
43,43,AF,Somalia,0,0,0,0.0,0,0.000000
44,44,AF,South Africa,225,76,81,8.2,382,0.021466
45,45,AF,Sudan,8,13,0,1.7,21,0.080952
46,46,AF,Swaziland,90,2,2,4.7,94,0.050000
47,47,AF,Tanzania,36,6,1,5.7,43,0.132558
48,48,AF,Togo,36,2,19,1.3,57,0.022807
49,49,AF,Tunisia,51,3,20,1.3,74,0.017568
50,50,AF,Uganda,45,9,0,8.3,54,0.153704
51,51,AF,Zambia,32,19,4,2.5,55,0.045455
52,52,AF,Zimbabwe,64,18,4,4.7,86,0.054651
53,53,AS,Afghanistan,0,0,0,0.0,0,0.000000
54,54,AS,Bahrain,42,63,7,2.0,112,0.017857
55,55,AS,Bangladesh,0,0,0,0.0,0,0.000000
56,56,AS,Bhutan,23,0,0,0.4,23,0.017391
57,57,AS,Brunei,31,2,1,0.6,34,0.017647
58,58,AS,Cambodia,57,65,1,2.2,123,0.017886
59,59,AS,China,79,192,8,5.0,279,0.017921
60,60,AS,India,9,114,0,2.2,123,0.017886
61,61,AS,Indonesia,5,1,0,0.1,6,0.016667
62,62,AS,Iran,0,0,0,0.0,0,0.000000
63,63,AS,Iraq,9,3,0,0.2,12,0.016667
64,64,AS,Israel,63,69,9,2.5,141,0.017730
65,65,AS,Japan,77,202,16,7.0,295,0.023729
66,66,AS,Jordan,6,21,1,0.5,28,0.017857
67,67,AS,Kazakhstan,124,246,12,6.8,382,0.017801
68,68,AS,Kuwait,0,0,0,0.0,0,0.000000
69,69,AS,Kyrgyzstan,31,97,6,2.4,134,0.017910
70,70,AS,Laos,62,0,123,6.2,185,0.033514
71,71,AS,Lebanon,20,55,31,1.9,106,0.017925
72,72,AS,Malaysia,13,4,0,0.3,17,0.017647
73,73,AS,Maldives,0,0,0,0.0,0,0.000000
74,74,AS,Mongolia,77,189,8,4.9,274,0.017883
75,75,AS,Myanmar,5,1,0,0.1,6,0.016667
76,76,AS,Nepal,5,6,0,0.2,11,0.018182
77,77,AS,North Korea,0,0,0,0.0,0,0.000000
78,78,AS,Oman,22,16,1,0.7,39,0.017949
79,79,AS,Pakistan,0,0,0,0.0,0,0.000000
80,80,AS,Philippines,71,186,1,4.6,258,0.017829
81,81,AS,Qatar,1,42,7,0.9,50,0.018000
82,82,AS,Russian Federation,247,326,73,11.5,646,0.017802
83,83,AS,Saudi Arabia,0,5,0,0.1,5,0.020000
84,84,AS,Singapore,60,12,11,1.5,83,0.018072
85,85,AS,South Korea,140,16,9,9.8,165,0.059394
86,86,AS,Sri Lanka,16,104,0,2.2,120,0.018333
87,87,AS,Syria,5,35,16,1.0,56,0.017857
88,88,AS,Tajikistan,2,15,0,0.3,17,0.017647
89,89,AS,Thailand,99,258,1,6.4,358,0.017877
90,90,AS,Timor-Leste,1,1,4,0.1,6,0.016667
91,91,AS,Turkey,51,22,7,1.4,80,0.017500
92,92,AS,Turkmenistan,19,71,32,2.2,122,0.018033
93,93,AS,United Arab Emirates,16,135,5,2.8,156,0.017949
94,94,AS,Uzbekistan,25,101,8,2.4,134,0.017910
95,95,AS,Vietnam,111,2,1,2.0,114,0.017544
96,96,AS,Yemen,6,0,0,0.1,6,0.016667
97,97,EU,Albania,89,132,54,4.9,275,0.017818
98,98,EU,Andorra,245,138,312,12.4,695,0.017842
99,99,EU,Armenia,21,179,11,3.8,211,0.018009
100,100,EU,Austria,279,75,191,9.7,545,0.017798
101,101,EU,Azerbaijan,21,46,5,1.3,72,0.018056
102,102,EU,Belarus,142,373,42,14.4,557,0.025853
103,103,EU,Belgium,295,84,212,10.5,591,0.017766
104,104,EU,Bosnia-Herzegovina,76,173,8,4.6,257,0.017899
105,105,EU,Bulgaria,231,252,94,10.3,577,0.017851
106,106,EU,Croatia,230,87,254,10.2,571,0.017863
107,107,EU,Cyprus,192,154,113,8.2,459,0.017865
108,108,EU,Czech Republic,361,170,134,11.8,665,0.017744
109,109,EU,Denmark,224,81,278,10.4,583,0.017839
110,110,EU,Estonia,224,194,59,9.5,477,0.019916
111,111,EU,Finland,263,133,97,10.0,493,0.020284
112,112,EU,France,127,151,370,11.8,648,0.018210
113,113,EU,Georgia,52,100,149,5.4,301,0.017940
114,114,EU,Germany,346,117,175,11.3,638,0.017712
115,115,EU,Greece,133,112,218,8.3,463,0.017927
116,116,EU,Hungary,234,215,185,11.3,634,0.017823
117,117,EU,Iceland,233,61,78,6.6,372,0.017742
118,118,EU,Ireland,313,118,165,11.4,596,0.019128
119,119,EU,Italy,85,42,237,6.5,364,0.017857
120,120,EU,Latvia,281,216,62,10.5,559,0.018784
121,121,EU,Lithuania,343,244,56,12.9,643,0.020062
122,122,EU,Luxembourg,236,133,271,11.4,640,0.017813
123,123,EU,Macedonia,106,27,86,3.9,219,0.017808
124,124,EU,Malta,149,100,120,6.6,369,0.017886
125,125,EU,Moldova,109,226,18,6.3,353,0.017847
126,126,EU,Monaco,0,0,0,0.0,0,0.000000
127,127,EU,Montenegro,31,114,128,4.9,273,0.017949
128,128,EU,Netherlands,251,88,190,9.4,529,0.017769
129,129,EU,Norway,169,71,129,6.7,369,0.018157
130,130,EU,Poland,343,215,56,10.9,614,0.017752
131,131,EU,Portugal,194,67,339,11.0,600,0.018333
132,132,EU,Romania,297,122,167,10.4,586,0.017747
133,133,EU,San Marino,0,0,0,0.0,0,0.000000
134,134,EU,Serbia,283,131,127,9.6,541,0.017745
135,135,EU,Slovakia,196,293,116,11.4,605,0.018843
136,136,EU,Slovenia,270,51,276,10.6,597,0.017755
137,137,EU,Spain,284,157,112,10.0,553,0.018083
138,138,EU,Sweden,152,60,186,7.2,398,0.018090
139,139,EU,Switzerland,185,100,280,10.2,565,0.018053
140,140,EU,Ukraine,206,237,45,8.9,488,0.018238
141,141,EU,United Kingdom,219,126,195,10.4,540,0.019259
142,142,NA,Antigua & Barbuda,102,128,45,4.9,275,0.017818
143,143,NA,Bahamas,122,176,51,6.3,349,0.018052
144,144,NA,Barbados,143,173,36,6.3,352,0.017898
145,145,NA,Belize,263,114,8,6.8,385,0.017662
146,146,NA,Canada,240,122,100,8.2,462,0.017749
147,147,NA,Costa Rica,149,87,11,4.4,247,0.017814
148,148,NA,Cuba,93,137,5,4.2,235,0.017872
149,149,NA,Dominica,52,286,26,6.6,364,0.018132
150,150,NA,Dominican Republic,193,147,9,6.2,349,0.017765
151,151,NA,El Salvador,52,69,2,2.2,123,0.017886
152,152,NA,Grenada,199,438,28,11.9,665,0.017895
153,153,NA,Guatemala,53,69,2,2.2,124,0.017742
154,154,NA,Haiti,1,326,1,5.9,328,0.017988
155,155,NA,Honduras,69,98,2,3.0,169,0.017751
156,156,NA,Jamaica,82,97,9,3.4,188,0.018085
157,157,NA,Mexico,238,68,5,5.5,311,0.017685
158,158,NA,Nicaragua,78,118,1,3.5,197,0.017766
159,159,NA,Panama,285,104,18,7.2,407,0.017690
160,160,NA,St. Kitts & Nevis,194,205,32,7.7,431,0.017865
161,161,NA,St. Lucia,171,315,71,10.1,557,0.018133
162,162,NA,St. Vincent & the Grenadines,120,221,11,6.3,352,0.017898
163,163,NA,Trinidad & Tobago,197,156,7,6.4,360,0.017778
164,164,NA,USA,249,158,84,8.7,491,0.017719
165,165,OC,Australia,261,72,212,10.4,545,0.019083
166,166,OC,Cook Islands,0,254,74,5.9,328,0.017988
167,167,OC,Fiji,77,35,1,2.0,113,0.017699
168,168,OC,Kiribati,21,34,1,1.0,56,0.017857
169,169,OC,Marshall Islands,0,0,0,0.0,0,0.000000
170,170,OC,Micronesia,62,50,18,2.3,130,0.017692
171,171,OC,Nauru,49,0,8,1.0,57,0.017544
172,172,OC,New Zealand,203,79,175,9.3,457,0.020350
173,173,OC,Niue,188,200,7,7.0,395,0.017722
174,174,OC,Palau,306,63,23,6.9,392,0.017602
175,175,OC,Papua New Guinea,44,39,1,1.5,84,0.017857
176,176,OC,Samoa,105,18,24,2.6,147,0.017687
177,177,OC,Solomon Islands,56,11,1,1.2,68,0.017647
178,178,OC,Tonga,36,21,5,1.1,62,0.017742
179,179,OC,Tuvalu,6,41,9,1.0,56,0.017857
180,180,OC,Vanuatu,21,18,11,0.9,50,0.018000
181,181,SA,Argentina,193,25,221,8.3,439,0.018907
182,182,SA,Bolivia,167,41,8,3.8,216,0.017593
183,183,SA,Brazil,245,145,16,7.2,406,0.017734
184,184,SA,Chile,130,124,172,7.6,426,0.017840
185,185,SA,Colombia,159,76,3,4.2,238,0.017647
186,186,SA,Ecuador,162,74,3,4.2,239,0.017573
187,187,SA,Guyana,93,302,1,7.1,396,0.017929
188,188,SA,Paraguay,213,117,74,7.3,404,0.018069
189,189,SA,Peru,163,160,21,6.1,344,0.017733
190,190,SA,Suriname,128,178,7,5.6,313,0.017891
191,191,SA,Uruguay,115,35,220,6.6,370,0.017838
192,192,SA,Venezuela,333,100,3,7.7,436,0.017661

In [63]:
#[2-35] 전세계 평균 소비량과 한국(South Korea)의 소비량을 비교해 보려고 합니다.
# 먼저, 한국의 소비량을 조회하여 korea로 저장합니다.
korea = df[df['국가'] == 'South Korea']
korea

    index  대륙           국가   맥주  증류주  와인  알코올  주류소비량     알코올비율
85     85  AS  South Korea  140   16   9  9.8    165  0.059394