<a href="https://colab.research.google.com/github/orizay/free-fonts/blob/master/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_%EC%8B%A4%EA%B8%B0_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. 파일 다운(drinks.csv)

In [1]:
!git clone https://github.com/Soyoung-Yoon/data_01

Cloning into 'data_01'...
remote: Enumerating objects: 50, done.
remote: Counting objects: 100% (50/50), done.
remote: Compressing objects: 100% (50/50), done.
remote: Total 50 (delta 16), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (50/50), done.

#2. Colab에서 한글폰트 사용하기

# 3.알코올을 가장 많이 마히는 나라는?
- country: 국가명
- beer_servings: 맥주 소비량
- spirit_servings: 중류주 소비량(독주,알코올 함량 20%이상의 설탕을 첨가하지 않은 중류주)
- wine_servings: 와인 소비량
- total_litres_of_pure_alcohol: 순수 알코올
- continent: 대륙

In [2]:
#[2-0] 라이브러리 import
import pandas as pd

# 3-1.파일 가져오기
- csv 파일은 컬럼 구분이 콤마(,)로 이루어진 파일
- df = pd.read_csv(파일이름): csv 형식의 파일을 읽어 DataFrame객체로 가져옴
- DataFrame.to_csv(파일이름,index=True): DataFrame은 csv 파일로 저장
  - index는 제외하고 저장하기 위해서는 index=False로 지정

In [3]:
#[2-1]drink.csv 파일을 DataFrame으로 불러 오기 합니다
df = pd.read_csv('data_01/drinks.csv')

In [4]:
#[2-2]df의 데이터 모습을 확인하기 위해 첫 5개 데이터를 출력합니다
df.head()

       country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0  Afghanistan              0  ...                           0.0         AS
1      Albania             89  ...                           4.9         EU
2      Algeria             25  ...                           0.7         AF
3      Andorra            245  ...                          12.4         EU
4       Angola            217  ...                           5.9         AF

[5 rows x 6 columns]

In [5]:
#[2-3]df의 컬럼명을 한글로 변경합니다['국가', '맥주', '증류주', '와인', '알코올', '대륙']
df.columns = ['국가', '맥주', '증류주', '와인', '알코올', '대륙']
df.head(3)

            국가  맥주  증류주  와인  알코올  대륙
0  Afghanistan   0    0   0  0.0  AS
1      Albania  89  132  54  4.9  EU
2      Algeria  25    0  14  0.7  AF

In [6]:
#[2-4]df의 row의 개수와 각 columns의 정보 및 메모리 사용량을 확인하기
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국가      193 non-null    object
 1   맥주      193 non-null    int64
 2   증류주     193 non-null    int64
 3   와인      193 non-null    int64
 4   알코올     193 non-null    float64
 5   대륙      170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [7]:
#object 타입정보까지 확인하려면(info(memory_usage='deep'))
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국가      193 non-null    object
 1   맥주      193 non-null    int64
 2   증류주     193 non-null    int64
 3   와인      193 non-null    int64
 4   알코올     193 non-null    float64
 5   대륙      170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 29.0 KB

### '대륙'에 대한 정보가 부족한것을 확인할수 있습니다.이유가 무엇일 까요?
- 아시아: AS, 유럽: EU, 아프리카: AF, 북아메리카: NA, 남아메리카: SA, 오세아니아: OC

## 3-2.결측치 확인 및 해결
- 결측치
  - 값이 없음을 나타냄
  - NaN, NaT, None등으로 표시되며,NA,Value, MissingValue라고함

- 결측치 확인 
  - DataFrame.isna(): 결측치에 대해 True,아니면 False
  - DataFrame.isnull(): DataFrame.isna()와 동일함
  - DataFrame.notna(): 결측치가 이닌것에 대해 True, 결측치면 False
  - DataFrame.notnull(): DataFrame.isnull()와 동일함
  - Series에도 결측치 확인을 위한 isna() ~ notnull()의 메서드 있음
  - DataFrame.isna().sum(): 결측치에 대해 컬럼별 개수

## 데이터 종류 확인
- 주로 범주형 데이터데 사용함
  - 성별,지역,부서 등의 몇개의 그룹으로 표현되는 데이터
  - 수자 또는 문자열로 표현될수 있음
- Series.unique(): 결측치를 포함하여,중복을 제외환 데이터의 종류를 ndarray로 반환
- Series.value_counts(): 결측치를 포함하지 않으며, 데이터 종류별 개수를 Series로 반환

In [8]:
#[2-5] 대륙의 종류를 알아봅니다
# 결과를 보면 csv파일에서 'NA'로 되어 있는 데이터를 'NaN(nan)으로 가져온 것입니다.
df['대륙'].unique()

array(['AS', 'EU', 'AF', nan, 'SA', 'OC'], dtype=object)

In [9]:
pd.Series(df['대륙'].unique())

0     AS
1     EU
2     AF
3    NaN
4     SA
5     OC
dtype: object

In [10]:
#[2-6] 대륙별 개수를 알아봅니다
df['대륙'].value_counts()

AF    53
EU    45
AS    44
OC    16
SA    12
Name: 대륙, dtype: int64

In [11]:
#[2-7] 결측치를 컬럼 별로 집계해 봅니다
df.isna()

        국가     맥주    증류주     와인    알코올     대륙
0    False  False  False  False  False  False
1    False  False  False  False  False  False
2    False  False  False  False  False  False
3    False  False  False  False  False  False
4    False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...
188  False  False  False  False  False  False
189  False  False  False  False  False  False
190  False  False  False  False  False  False
191  False  False  False  False  False  False
192  False  False  False  False  False  False

[193 rows x 6 columns]

In [12]:
df.isna().sum()

국가      0
맥주      0
증류주     0
와인      0
알코올     0
대륙     23
dtype: int64

In [13]:
#[2-8] isna()를 사용해 대륙에서 결측치로 취급된 데이터만 출력해봅니다
#북아메리카(NA)에 포함되는 국가들인 것을 확인할 수 있습니다
df['대륙'].isna()

0      False
1      False
2      False
3      False
4      False
       ...
188    False
189    False
190    False
191    False
192    False
Name: 대륙, Length: 193, dtype: bool

In [14]:
df[df['대륙'].isna()]

                               국가   맥주  증류주   와인   알코올   대륙
5               Antigua & Barbuda  102  128   45   4.9  NaN
11                        Bahamas  122  176   51   6.3  NaN
14                       Barbados  143  173   36   6.3  NaN
17                         Belize  263  114    8   6.8  NaN
32                         Canada  240  122  100   8.2  NaN
41                     Costa Rica  149   87   11   4.4  NaN
43                           Cuba   93  137    5   4.2  NaN
50                       Dominica   52  286   26   6.6  NaN
51             Dominican Republic  193  147    9   6.2  NaN
54                    El Salvador   52   69    2   2.2  NaN
68                        Grenada  199  438   28  11.9  NaN
69                      Guatemala   53   69    2   2.2  NaN
73                          Haiti    1  326    1   5.9  NaN
74                       Honduras   69   98    2   3.0  NaN
84                        Jamaica   82   97    9   3.4  NaN
109                        Mexico  238   68    5   5.5  NaN
122                     Nicaragua   78  118    1   3.5  NaN
130                        Panama  285  104   18   7.2  NaN
143             St. Kitts & Nevis  194  205   32   7.7  NaN
144                     St. Lucia  171  315   71  10.1  NaN
145  St. Vincent & the Grenadines  120  221   11   6.3  NaN
174             Trinidad & Tobago  197  156    7   6.4  NaN
184                           USA  249  158   84   8.7  NaN

## 결측치 해결방법
- 'NA'를 'NaN'(결측치)로 읽는 동작을 멈추게 함
  - pd.read_csv(파일이름, na_filter=False): 파일에서 데이터를 가져올 때 결측치로 인지되는 데이터를 결측치로 읽어 오는 동작을 멈추도록 함

- 결측치를 다른 값으로 채우기 함
  - DataFrame.fillna(값) 또는 Sreies.fillna(값): 결측값을 특정 값으로 채우기
    - 연속형 데이터 : 0 을 채우기, 평균값으로 채우기, 범주별 평균값 채우기 등
    - 범주형 데이터 : 다른 범주로 만들어 채우기
- DataFrame.loc[Series.isna(), 컬럼명]=값

In [15]:
#[2-9] 해결방법1
#read_csv의 옵션을 사용하여 해결 함
#read_csv에서 'NA'를 'NaN'으로 읽도록 하는 동작을 멈추게 합니다.
#na_filter=False를 사용하면 'NA'를 'NaN'으로 읽지 않습니다.

temp = pd.read_csv('data_01/drinks.csv', na_filter=False)
temp

         country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0    Afghanistan              0  ...                           0.0         AS
1        Albania             89  ...                           4.9         EU
2        Algeria             25  ...                           0.7         AF
3        Andorra            245  ...                          12.4         EU
4         Angola            217  ...                           5.9         AF
..           ...            ...  ...                           ...        ...
188    Venezuela            333  ...                           7.7         SA
189      Vietnam            111  ...                           2.0         AS
190        Yemen              6  ...                           0.1         AS
191       Zambia             32  ...                           2.5         AF
192     Zimbabwe             64  ...                           4.7         AF

[193 rows x 6 columns]

In [16]:
#[2-10] temp의 'continent'(대륙)에 포함된 값의 종류를 unique()를 사용해 살펴 봅니다.
#'NaN'대신 'NA'가 있는 것을 확인할수 있습니다.
temp['continent'].unique()

array(['AS', 'EU', 'AF', 'NA', 'SA', 'OC'], dtype=object)

In [17]:
temp.isna().sum()

country                         0
beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
continent                       0
dtype: int64

In [18]:
#[2-10] 해결방법 2
# NaN으로 읽어온 데이터를 'NA'로 변경합니다
df['대륙'].fillna('NA') # 그냥 이렇게 쓰면 적용이 안됩니다

0      AS
1      EU
2      AF
3      EU
4      AF
       ..
188    SA
189    AS
190    AS
191    AF
192    AF
Name: 대륙, Length: 193, dtype: object

In [19]:
df['대륙'] = df['대륙'].fillna('NA')

In [20]:
df

              국가   맥주  증류주   와인   알코올  대륙
0    Afghanistan    0    0    0   0.0  AS
1        Albania   89  132   54   4.9  EU
2        Algeria   25    0   14   0.7  AF
3        Andorra  245  138  312  12.4  EU
4         Angola  217   57   45   5.9  AF
..           ...  ...  ...  ...   ...  ..
188    Venezuela  333  100    3   7.7  SA
189      Vietnam  111    2    1   2.0  AS
190        Yemen    6    0    0   0.1  AS
191       Zambia   32   19    4   2.5  AF
192     Zimbabwe   64   18    4   4.7  AF

[193 rows x 6 columns]

In [21]:
df.loc[df['대륙'].isna(),'대륙'] = 'NA'

In [22]:
#[2-11] 결측치가 제거되었는지 컬럼 별 결측치 개수를 출력해 확인합니다
df.isna().sum()

국가     0
맥주     0
증류주    0
와인     0
알코올    0
대륙     0
dtype: int64

In [23]:
#[2-12] unique()를 사용하여 '대룩'의 종류를 확인해 봅니다
df['대륙'].unique()

array(['AS', 'EU', 'AF', 'NA', 'SA', 'OC'], dtype=object)

## 3-3. 통계값 구하기
- DataFrame.describer(): 컬럼별 count,mean, std, min, max, Q1, Q2, Q3 등의 통계값 구하기
- DataFrame.count(): 개수
- DataFrame.sum(): 합계
- DataFrame.mean(): 평균
- DataFrame.median(): 중앙값
- DataFrame.std(): 표준편차
- DataFrame.var(): 분산
- DataFrame.quantile(): 분위수
- DataFrame.함수(axis= 1)을 사용하여 행별 통계값을 구할수 있습니다
  - axis= 0 : 기본값이며, 행을 이동하며, 행과행의 연산을 수행함
  - axis= 1 : 컬럼을 이동하며 컬럼과 컬럼의 연산을 수행합

In [24]:
#[2-13] describe 함수를 사용해 전세계 맥주, 증류주, 와인, 알코올 소비에 대한 통계치를 구해봅니다
df.describe()

               맥주         증류주          와인         알코올
count  193.000000  193.000000  193.000000  193.000000
mean   106.160622   80.994819   49.450777    4.717098
std    101.143103   88.284312   79.697598    3.773298
min      0.000000    0.000000    0.000000    0.000000
25%     20.000000    4.000000    1.000000    1.300000
50%     76.000000   56.000000    8.000000    4.200000
75%    188.000000  128.000000   59.000000    7.200000
max    376.000000  438.000000  370.000000   14.400000

In [25]:
#[2-14] 전세계맥주, 증류주, 와인, 알코올 소비에 대한 정보만 추출하여 df2로 지정합니다
df2 = df[['맥주','증류주','와인','알코올']]
df2.head()

    맥주  증류주   와인   알코올
0    0    0    0   0.0
1   89  132   54   4.9
2   25    0   14   0.7
3  245  138  312  12.4
4  217   57   45   5.9

In [26]:
#[2-15] 전세계 맥주,증류주,와인, 알코올이 소비에 대한(df2)'평균'만 구해봅니다
df2.mean()

맥주     106.160622
증류주     80.994819
와인      49.450777
알코올      4.717098
dtype: float64

In [27]:
#[2-16] 전세계 맥주,증류주,와인, 알코올이 소비에 대한(df2)'중앙값'만 구해봅니다
df2.median()

맥주     76.0
증류주    56.0
와인      8.0
알코올     4.2
dtype: float64

In [28]:
#[2-17] 전세계 맥주,증류주,와인, 알코올이 소비에 대한(df2)'최대값'만 구해봅니다
df2.max()

맥주     376.0
증류주    438.0
와인     370.0
알코올     14.4
dtype: float64

In [29]:
#[2-18] 전세계 맥주,증류주,와인, 알코올이 소비에 대한(df2)'최소값'만 구해봅니다
df2.min()

맥주     0.0
증류주    0.0
와인     0.0
알코올    0.0
dtype: float64

In [30]:
#[2-19] 전세계 맥주,증류주,와인, 알코올이 소비에 대한(df2)'Q1, Q2, Q3를 구해봅니다
df2.quantile([0.25, 0.5, 0.75])

         맥주    증류주    와인  알코올
0.25   20.0    4.0   1.0  1.3
0.50   76.0   56.0   8.0  4.2
0.75  188.0  128.0  59.0  7.2

In [31]:
temp = df2.quantile([0.25, 0.5, 0.75])
temp.index = ['Q1','Q2','Q3']
temp

       맥주    증류주    와인  알코올
Q1   20.0    4.0   1.0  1.3
Q2   76.0   56.0   8.0  4.2
Q3  188.0  128.0  59.0  7.2

In [32]:
# * 전세계 맥주,증류주,와인, 알코올이 소비에 대한(df2)'표준편차','분산'에 대해서도 작업해봅니다
df2.std()

맥주     101.143103
증류주     88.284312
와인      79.697598
알코올      3.773298
dtype: float64

In [33]:
df2.var()

맥주     10229.927191
증류주     7794.119765
와인      6351.707200
알코올       14.237779
dtype: float64

In [34]:
#[2-20] df(object dtype이 존재함)에 대해서 컬럼별 min을 구해 봅니다
# dtype()이 object이 컬럼의 min은 오름차순 정렬시 가장앞에 있는것
# dtype()이 object이 컬럼의 max는 오름차순 정렬시 가장뒤에 있는것
# 문자열 정렬시에는 문자의 코드값을 사용함: ord(문자)
df.min()

국가     Afghanistan
맥주               0
증류주              0
와인               0
알코올              0
대륙              AF
dtype: object

In [35]:
df.max()

국가     Zimbabwe
맥주          376
증류주         438
와인          370
알코올        14.4
대륙           SA
dtype: object

In [36]:
ord('0'), ord('1'), ord('A'), ord('B'), ord('a'), ord('b')

(48, 49, 65, 66, 97, 98)

### 각 컬럼 별 함수 적용
- DataFrame.apply(함수): Series로 결과가 반환 됨
- DataFrame.apply([['함수1', '함수2', ...]]): DataFrame으로 결과가 반환 됨
- 사용자 정의 함수, 외부함수, 내장함수 등 다양한 함수를 사용할수 있음
- Series의 통계 함수들은 문자열 형태로 사용할수 있음: 'min, max, count, std, var, mean, median....

In [37]:
#[2-21] df2의 각 컬럼별 평균을 구해 보자
df2.apply('mean')

맥주     106.160622
증류주     80.994819
와인      49.450777
알코올      4.717098
dtype: float64

In [38]:
df2.mean()

맥주     106.160622
증류주     80.994819
와인      49.450777
알코올      4.717098
dtype: float64

In [39]:
#[2-22] df2의 최솟값,최대,평균값을 구해보자
df2.apply(['min', 'max', 'mean'])

              맥주         증류주          와인        알코올
min     0.000000    0.000000    0.000000   0.000000
max   376.000000  438.000000  370.000000  14.400000
mean  106.160622   80.994819   49.450777   4.717098

## 3-4. 주류 소비량 비교

In [40]:
# pandas의 max_rows, max_columns 설정
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 10)

### Series 연산
- Series 끼리 또는 Series와 스칼라는 다양한 연산을 할수 있음
- index에 맞춰 element wise 연산됨
  - 산술연산(수치): + - * / // %
  - 비교연산(True/False): > < >= <= == !=
  - True/False의 관계연산(True/False): & | ~

In [41]:
#[2-23] 와인소비량이 맥주+증류주 소비량보다 큰 나라를 검색해 '대륙'을 기준으로 정렬해 보자
df[df['와인'] > (df['맥주'] + df['증류주'])].sort_values('대륙')

                      국가   맥주  증류주   와인   알코올  대륙
55     Equatorial Guinea   92    0  233   5.8  AF
148  Sao Tome & Principe   56   38  140   4.2  AF
92                  Laos   62    0  123   6.2  AS
171          Timor-Leste    1    1    4   0.1  AS
61                France  127  151  370  11.8  EU
83                 Italy   85   42  237   6.5  EU
136             Portugal  194   67  339  11.0  EU
6              Argentina  193   25  221   8.3  SA
185              Uruguay  115   35  220   6.6  SA

In [42]:
#[2-24] 맥주소비량이 230 초과이면서, 와인 소비량이ㅣ 230 초과인 나라를 검색해보자
df[(df['맥주'] > 230) & (df['와인'] > 230)]

             국가   맥주  증류주   와인   알코올  대륙
3       Andorra  245  138  312  12.4  EU
99   Luxembourg  236  133  271  11.4  EU
156    Slovenia  270   51  276  10.6  EU

In [43]:
#[2-25] 대륙이 'AS'인 국가들의 정보를 검색해보자
df[df['대륙'] == 'AS']

                       국가   맥주  증류주   와인   알코올  대륙
0             Afghanistan    0    0    0   0.0  AS
12                Bahrain   42   63    7   2.0  AS
13             Bangladesh    0    0    0   0.0  AS
19                 Bhutan   23    0    0   0.4  AS
24                 Brunei   31    2    1   0.6  AS
30               Cambodia   57   65    1   2.2  AS
36                  China   79  192    8   5.0  AS
46            North Korea    0    0    0   0.0  AS
77                  India    9  114    0   2.2  AS
78              Indonesia    5    1    0   0.1  AS
79                   Iran    0    0    0   0.0  AS
80                   Iraq    9    3    0   0.2  AS
82                 Israel   63   69    9   2.5  AS
85                  Japan   77  202   16   7.0  AS
86                 Jordan    6   21    1   0.5  AS
87             Kazakhstan  124  246   12   6.8  AS
90                 Kuwait    0    0    0   0.0  AS
91             Kyrgyzstan   31   97    6   2.4  AS
92                   Laos   62    0  123   6.2  AS
94                Lebanon   20   55   31   1.9  AS
102              Malaysia   13    4    0   0.3  AS
103              Maldives    0    0    0   0.0  AS
112              Mongolia   77  189    8   4.9  AS
116               Myanmar    5    1    0   0.1  AS
119                 Nepal    5    6    0   0.2  AS
127                  Oman   22   16    1   0.7  AS
128              Pakistan    0    0    0   0.0  AS
134           Philippines   71  186    1   4.6  AS
137                 Qatar    1   42    7   0.9  AS
138           South Korea  140   16    9   9.8  AS
141    Russian Federation  247  326   73  11.5  AS
149          Saudi Arabia    0    5    0   0.1  AS
154             Singapore   60   12   11   1.5  AS
161             Sri Lanka   16  104    0   2.2  AS
167                 Syria    5   35   16   1.0  AS
168            Tajikistan    2   15    0   0.3  AS
169              Thailand   99  258    1   6.4  AS
171           Timor-Leste    1    1    4   0.1  AS
176                Turkey   51   22    7   1.4  AS
177          Turkmenistan   19   71   32   2.2  AS
181  United Arab Emirates   16  135    5   2.8  AS
186            Uzbekistan   25  101    8   2.4  AS
189               Vietnam  111    2    1   2.0  AS
190                 Yemen    6    0    0   0.1  AS

### DataFrame 
- DataFrame에 새로운 컬럼 추가
  - DataFrame[컬럼명] = 데이터 목록
  - 컬럼명은 기존 DataFrmae에 존재하지 않는 이름이어야 함
  - 대이터목록은 DataFrame의 다른 컬럼들과 같은 개수이어야 하며 list, Series등의 형태일수 있음
- DataFrame의 컬럼 제거
  - del DataFrame[컬럼명]
  - DataFrame.drop(컬럼명, axis=1), DataFrame.drop([컬럼명1,컬럼명2,...], axis=1)
  - DataFrame.drop(columns=[컬럼명,...])
- DataFrame의 열 제거
  - axis=0 이 기본값이므로 생략해도 됨
  - DataFrame.drop(열이름), DataFrame.drop([열이름1,열이름2,...])
  - DataFrame.drop(rows=[열이름1, 열이름2,...])

In [44]:
#[2-26] 국가별 주류소비량 합계를 구해 새로운 컬럼('주류소비량')를 추가합니다.
# 주류소비량 = '맥주' + '증류주' + '와인'
df['주류소비량'] = df['맥주'] + df['증류주'] + df['와인']
df.head()

            국가   맥주  증류주   와인   알코올  대륙  주류소비량
0  Afghanistan    0    0    0   0.0  AS      0
1      Albania   89  132   54   4.9  EU    275
2      Algeria   25    0   14   0.7  AF     39
3      Andorra  245  138  312  12.4  EU    695
4       Angola  217   57   45   5.9  AF    319

In [45]:
#[2-27] 주류소비량2=['맥주'+'증류주'+'와인']에 대해 DataFrame.sum(axis=1)함수 사용
df['주류소비량2'] = df[['맥주', '증류주', '와인']].sum(axis=1)
df.head()

            국가   맥주  증류주   와인   알코올  대륙  주류소비량  주류소비량2
0  Afghanistan    0    0    0   0.0  AS      0       0
1      Albania   89  132   54   4.9  EU    275     275
2      Algeria   25    0   14   0.7  AF     39      39
3      Andorra  245  138  312  12.4  EU    695     695
4       Angola  217   57   45   5.9  AF    319     319

In [46]:
#[2-28] 주류소비량 대비 알코올 소비량비율을 구해 새로운 컬럼('알코올비율')을 추가합니다.
# 알코올비율 = 알코올 / 주류소비량
df['알코올비율'] = df['알코올'] / df['주류소비량']
df.head()

            국가   맥주  증류주   와인   알코올  대륙  주류소비량  주류소비량2     알코올비율
0  Afghanistan    0    0    0   0.0  AS      0       0       NaN
1      Albania   89  132   54   4.9  EU    275     275  0.017818
2      Algeria   25    0   14   0.7  AF     39      39  0.017949
3      Andorra  245  138  312  12.4  EU    695     695  0.017842
4       Angola  217   57   45   5.9  AF    319     319  0.018495

In [47]:
#[2-29] 알코올비율이 높은 국가 TOP5의 ['국가','주류소비량','알코올비율']정보를 구해봅니다.
#HINT: sort_values, indexing사용
df[['국가', '주류소비량', '알코올비율']].sort_values('알코올비율', ascending=False).head()

               국가  주류소비량     알코올비율
63         Gambia      9  0.266667
153  Sierra Leone     30  0.223333
124       Nigeria     49  0.185714
179        Uganda     54  0.153704
142        Rwanda     45  0.151111

In [48]:
#[2-30] '주류소비량2'컬럼을 제거하여 봅니다.
df = df.drop('주류소비량2', axis=1)
df.head()

            국가   맥주  증류주   와인   알코올  대륙  주류소비량     알코올비율
0  Afghanistan    0    0    0   0.0  AS      0       NaN
1      Albania   89  132   54   4.9  EU    275  0.017818
2      Algeria   25    0   14   0.7  AF     39  0.017949
3      Andorra  245  138  312  12.4  EU    695  0.017842
4       Angola  217   57   45   5.9  AF    319  0.018495

In [49]:
#[2-31] '알코올비율'이 NaN인 것에 대해 0으로 채우기 합니다.
df['알코올비율'] = df['알코올비율'].fillna(0)
df.head()

            국가   맥주  증류주   와인   알코올  대륙  주류소비량     알코올비율
0  Afghanistan    0    0    0   0.0  AS      0  0.000000
1      Albania   89  132   54   4.9  EU    275  0.017818
2      Algeria   25    0   14   0.7  AF     39  0.017949
3      Andorra  245  138  312  12.4  EU    695  0.017842
4       Angola  217   57   45   5.9  AF    319  0.018495

### columns, Index 상호변경
- DataFrame.set_index(컬럼명): 지정한 컬럼을 index로 설정
- DataFrame.set_index([컬럼명1,컬럼명2,...]): 컬럼 목록을 index(Multi Index)로 지정
  - columns에서 index쪽으로 이동 됨, 기존 index는 제거 됨.
- DataFrame.reset_index(): 모든 index가 columns로 이동 됨.
  - index는 RangeIndex로 대체 됨.

In [50]:
#[2-32] 국가별 주류 소비량 합계(맥주,증류주,와인의 합)를 구해봅니다.
df.set_index('국가')[['맥주', '증류주', '와인']].sum(axis=1)

국가
Afghanistan                       0
Albania                         275
Algeria                          39
Andorra                         695
Angola                          319
Antigua & Barbuda               275
Argentina                       439
Armenia                         211
Australia                       545
Austria                         545
Azerbaijan                       72
Bahamas                         349
Bahrain                         112
Bangladesh                        0
Barbados                        352
Belarus                         557
Belgium                         591
Belize                          385
Benin                            51
Bhutan                           23
Bolivia                         216
Bosnia-Herzegovina              257
Botswana                        243
Brazil                          406
Brunei                           34
Bulgaria                        577
Burkina Faso                     39
Burundi                          88
Cote d'Ivoire                    45
Cabo Verde                      216
Cambodia                        123
Cameroon                        152
Canada                          462
Central African Republic         20
Chad                             17
Chile                           426
China                           279
Colombia                        238
Comoros                           5
Congo                            86
Cook Islands                    328
Costa Rica                      247
Croatia                         571
Cuba                            235
Cyprus                          459
Czech Republic                  665
North Korea                       0
DR Congo                         36
Denmark                         583
Djibouti                         62
Dominica                        364
Dominican Republic              349
Ecuador                         239
Egypt                            11
El Salvador                     123
Equatorial Guinea               325
Eritrea                          18
Estonia                         477
Ethiopia                         23
Fiji                            113
Finland                         493
France                          648
Gabon                           504
Gambia                            9
Georgia                         301
Germany                         638
Ghana                            44
Greece                          463
Grenada                         665
Guatemala                       124
Guinea                           11
Guinea-Bissau                    80
Guyana                          396
Haiti                           328
Honduras                        169
Hungary                         634
Iceland                         372
India                           123
Indonesia                         6
Iran                              0
Iraq                             12
Ireland                         596
Israel                          141
Italy                           364
Jamaica                         188
Japan                           295
Jordan                           28
Kazakhstan                      382
Kenya                            82
Kiribati                         56
Kuwait                            0
Kyrgyzstan                      134
Laos                            185
Latvia                          559
Lebanon                         106
Lesotho                         111
Liberia                         173
Libya                             0
Lithuania                       643
Luxembourg                      640
Madagascar                       45
Malawi                           20
Malaysia                         17
Maldives                          0
Mali                              7
Malta                           369
Marshall Islands                  0
Mauritania                        0
Mauritius                       147
Mexico                          311
Micronesia                      130
Monaco                            0
Mongolia                        274
Montenegro                      273
Morocco                          28
Mozambique                       70
Myanmar                           6
Namibia                         380
Nauru                            57
Nepal                            11
Netherlands                     529
New Zealand                     457
Nicaragua                       197
Niger                             6
Nigeria                          49
Niue                            395
Norway                          369
Oman                             39
Pakistan                          0
Palau                           392
Panama                          407
Papua New Guinea                 84
Paraguay                        404
Peru                            344
Philippines                     258
Poland                          614
Portugal                        600
Qatar                            50
South Korea                     165
Moldova                         353
Romania                         586
Russian Federation              646
Rwanda                           45
St. Kitts & Nevis               431
St. Lucia                       557
St. Vincent & the Grenadines    352
Samoa                           147
San Marino                        0
Sao Tome & Principe             234
Saudi Arabia                      5
Senegal                          17
Serbia                          541
Seychelles                      233
Sierra Leone                     30
Singapore                        83
Slovakia                        605
Slovenia                        597
Solomon Islands                  68
Somalia                           0
South Africa                    382
Spain                           553
Sri Lanka                       120
Sudan                            21
Suriname                        313
Swaziland                        94
Sweden                          398
Switzerland                     565
Syria                            56
Tajikistan                       17
Thailand                        358
Macedonia                       219
Timor-Leste                       6
Togo                             57
Tonga                            62
Trinidad & Tobago               360
Tunisia                          74
Turkey                           80
Turkmenistan                    122
Tuvalu                           56
Uganda                           54
Ukraine                         488
United Arab Emirates            156
United Kingdom                  540
Tanzania                         43
USA                             491
Uruguay                         370
Uzbekistan                      134
Vanuatu                          50
Venezuela                       436
Vietnam                         114
Yemen                             6
Zambia                           55
Zimbabwe                         86
dtype: int64

In [51]:
#[2-33] df['대륙', '국가']를 index로 지정하고, 대륙별, 국가명으로 정렬하여 df로 저장합니다.
# df = df.set_index(['대륙', '국가']).sort_index
df

                               국가   맥주  증류주   와인   알코올  대륙  주류소비량     알코올비율
0                     Afghanistan    0    0    0   0.0  AS      0  0.000000
1                         Albania   89  132   54   4.9  EU    275  0.017818
2                         Algeria   25    0   14   0.7  AF     39  0.017949
3                         Andorra  245  138  312  12.4  EU    695  0.017842
4                          Angola  217   57   45   5.9  AF    319  0.018495
5               Antigua & Barbuda  102  128   45   4.9  NA    275  0.017818
6                       Argentina  193   25  221   8.3  SA    439  0.018907
7                         Armenia   21  179   11   3.8  EU    211  0.018009
8                       Australia  261   72  212  10.4  OC    545  0.019083
9                         Austria  279   75  191   9.7  EU    545  0.017798
10                     Azerbaijan   21   46    5   1.3  EU     72  0.018056
11                        Bahamas  122  176   51   6.3  NA    349  0.018052
12                        Bahrain   42   63    7   2.0  AS    112  0.017857
13                     Bangladesh    0    0    0   0.0  AS      0  0.000000
14                       Barbados  143  173   36   6.3  NA    352  0.017898
15                        Belarus  142  373   42  14.4  EU    557  0.025853
16                        Belgium  295   84  212  10.5  EU    591  0.017766
17                         Belize  263  114    8   6.8  NA    385  0.017662
18                          Benin   34    4   13   1.1  AF     51  0.021569
19                         Bhutan   23    0    0   0.4  AS     23  0.017391
20                        Bolivia  167   41    8   3.8  SA    216  0.017593
21             Bosnia-Herzegovina   76  173    8   4.6  EU    257  0.017899
22                       Botswana  173   35   35   5.4  AF    243  0.022222
23                         Brazil  245  145   16   7.2  SA    406  0.017734
24                         Brunei   31    2    1   0.6  AS     34  0.017647
25                       Bulgaria  231  252   94  10.3  EU    577  0.017851
26                   Burkina Faso   25    7    7   4.3  AF     39  0.110256
27                        Burundi   88    0    0   6.3  AF     88  0.071591
28                  Cote d'Ivoire   37    1    7   4.0  AF     45  0.088889
29                     Cabo Verde  144   56   16   4.0  AF    216  0.018519
30                       Cambodia   57   65    1   2.2  AS    123  0.017886
31                       Cameroon  147    1    4   5.8  AF    152  0.038158
32                         Canada  240  122  100   8.2  NA    462  0.017749
33       Central African Republic   17    2    1   1.8  AF     20  0.090000
34                           Chad   15    1    1   0.4  AF     17  0.023529
35                          Chile  130  124  172   7.6  SA    426  0.017840
36                          China   79  192    8   5.0  AS    279  0.017921
37                       Colombia  159   76    3   4.2  SA    238  0.017647
38                        Comoros    1    3    1   0.1  AF      5  0.020000
39                          Congo   76    1    9   1.7  AF     86  0.019767
40                   Cook Islands    0  254   74   5.9  OC    328  0.017988
41                     Costa Rica  149   87   11   4.4  NA    247  0.017814
42                        Croatia  230   87  254  10.2  EU    571  0.017863
43                           Cuba   93  137    5   4.2  NA    235  0.017872
44                         Cyprus  192  154  113   8.2  EU    459  0.017865
45                 Czech Republic  361  170  134  11.8  EU    665  0.017744
46                    North Korea    0    0    0   0.0  AS      0  0.000000
47                       DR Congo   32    3    1   2.3  AF     36  0.063889
48                        Denmark  224   81  278  10.4  EU    583  0.017839
49                       Djibouti   15   44    3   1.1  AF     62  0.017742
50                       Dominica   52  286   26   6.6  NA    364  0.018132
51             Dominican Republic  193  147    9   6.2  NA    349  0.017765
52                        Ecuador  162   74    3   4.2  SA    239  0.017573
53                          Egypt    6    4    1   0.2  AF     11  0.018182
54                    El Salvador   52   69    2   2.2  NA    123  0.017886
55              Equatorial Guinea   92    0  233   5.8  AF    325  0.017846
56                        Eritrea   18    0    0   0.5  AF     18  0.027778
57                        Estonia  224  194   59   9.5  EU    477  0.019916
58                       Ethiopia   20    3    0   0.7  AF     23  0.030435
59                           Fiji   77   35    1   2.0  OC    113  0.017699
60                        Finland  263  133   97  10.0  EU    493  0.020284
61                         France  127  151  370  11.8  EU    648  0.018210
62                          Gabon  347   98   59   8.9  AF    504  0.017659
63                         Gambia    8    0    1   2.4  AF      9  0.266667
64                        Georgia   52  100  149   5.4  EU    301  0.017940
65                        Germany  346  117  175  11.3  EU    638  0.017712
66                          Ghana   31    3   10   1.8  AF     44  0.040909
67                         Greece  133  112  218   8.3  EU    463  0.017927
68                        Grenada  199  438   28  11.9  NA    665  0.017895
69                      Guatemala   53   69    2   2.2  NA    124  0.017742
70                         Guinea    9    0    2   0.2  AF     11  0.018182
71                  Guinea-Bissau   28   31   21   2.5  AF     80  0.031250
72                         Guyana   93  302    1   7.1  SA    396  0.017929
73                          Haiti    1  326    1   5.9  NA    328  0.017988
74                       Honduras   69   98    2   3.0  NA    169  0.017751
75                        Hungary  234  215  185  11.3  EU    634  0.017823
76                        Iceland  233   61   78   6.6  EU    372  0.017742
77                          India    9  114    0   2.2  AS    123  0.017886
78                      Indonesia    5    1    0   0.1  AS      6  0.016667
79                           Iran    0    0    0   0.0  AS      0  0.000000
80                           Iraq    9    3    0   0.2  AS     12  0.016667
81                        Ireland  313  118  165  11.4  EU    596  0.019128
82                         Israel   63   69    9   2.5  AS    141  0.017730
83                          Italy   85   42  237   6.5  EU    364  0.017857
84                        Jamaica   82   97    9   3.4  NA    188  0.018085
85                          Japan   77  202   16   7.0  AS    295  0.023729
86                         Jordan    6   21    1   0.5  AS     28  0.017857
87                     Kazakhstan  124  246   12   6.8  AS    382  0.017801
88                          Kenya   58   22    2   1.8  AF     82  0.021951
89                       Kiribati   21   34    1   1.0  OC     56  0.017857
90                         Kuwait    0    0    0   0.0  AS      0  0.000000
91                     Kyrgyzstan   31   97    6   2.4  AS    134  0.017910
92                           Laos   62    0  123   6.2  AS    185  0.033514
93                         Latvia  281  216   62  10.5  EU    559  0.018784
94                        Lebanon   20   55   31   1.9  AS    106  0.017925
95                        Lesotho   82   29    0   2.8  AF    111  0.025225
96                        Liberia   19  152    2   3.1  AF    173  0.017919
97                          Libya    0    0    0   0.0  AF      0  0.000000
98                      Lithuania  343  244   56  12.9  EU    643  0.020062
99                     Luxembourg  236  133  271  11.4  EU    640  0.017813
100                    Madagascar   26   15    4   0.8  AF     45  0.017778
101                        Malawi    8   11    1   1.5  AF     20  0.075000
102                      Malaysia   13    4    0   0.3  AS     17  0.017647
103                      Maldives    0    0    0   0.0  AS      0  0.000000
104                          Mali    5    1    1   0.6  AF      7  0.085714
105                         Malta  149  100  120   6.6  EU    369  0.017886
106              Marshall Islands    0    0    0   0.0  OC      0  0.000000
107                    Mauritania    0    0    0   0.0  AF      0  0.000000
108                     Mauritius   98   31   18   2.6  AF    147  0.017687
109                        Mexico  238   68    5   5.5  NA    311  0.017685
110                    Micronesia   62   50   18   2.3  OC    130  0.017692
111                        Monaco    0    0    0   0.0  EU      0  0.000000
112                      Mongolia   77  189    8   4.9  AS    274  0.017883
113                    Montenegro   31  114  128   4.9  EU    273  0.017949
114                       Morocco   12    6   10   0.5  AF     28  0.017857
115                    Mozambique   47   18    5   1.3  AF     70  0.018571
116                       Myanmar    5    1    0   0.1  AS      6  0.016667
117                       Namibia  376    3    1   6.8  AF    380  0.017895
118                         Nauru   49    0    8   1.0  OC     57  0.017544
119                         Nepal    5    6    0   0.2  AS     11  0.018182
120                   Netherlands  251   88  190   9.4  EU    529  0.017769
121                   New Zealand  203   79  175   9.3  OC    457  0.020350
122                     Nicaragua   78  118    1   3.5  NA    197  0.017766
123                         Niger    3    2    1   0.1  AF      6  0.016667
124                       Nigeria   42    5    2   9.1  AF     49  0.185714
125                          Niue  188  200    7   7.0  OC    395  0.017722
126                        Norway  169   71  129   6.7  EU    369  0.018157
127                          Oman   22   16    1   0.7  AS     39  0.017949
128                      Pakistan    0    0    0   0.0  AS      0  0.000000
129                         Palau  306   63   23   6.9  OC    392  0.017602
130                        Panama  285  104   18   7.2  NA    407  0.017690
131              Papua New Guinea   44   39    1   1.5  OC     84  0.017857
132                      Paraguay  213  117   74   7.3  SA    404  0.018069
133                          Peru  163  160   21   6.1  SA    344  0.017733
134                   Philippines   71  186    1   4.6  AS    258  0.017829
135                        Poland  343  215   56  10.9  EU    614  0.017752
136                      Portugal  194   67  339  11.0  EU    600  0.018333
137                         Qatar    1   42    7   0.9  AS     50  0.018000
138                   South Korea  140   16    9   9.8  AS    165  0.059394
139                       Moldova  109  226   18   6.3  EU    353  0.017847
140                       Romania  297  122  167  10.4  EU    586  0.017747
141            Russian Federation  247  326   73  11.5  AS    646  0.017802
142                        Rwanda   43    2    0   6.8  AF     45  0.151111
143             St. Kitts & Nevis  194  205   32   7.7  NA    431  0.017865
144                     St. Lucia  171  315   71  10.1  NA    557  0.018133
145  St. Vincent & the Grenadines  120  221   11   6.3  NA    352  0.017898
146                         Samoa  105   18   24   2.6  OC    147  0.017687
147                    San Marino    0    0    0   0.0  EU      0  0.000000
148           Sao Tome & Principe   56   38  140   4.2  AF    234  0.017949
149                  Saudi Arabia    0    5    0   0.1  AS      5  0.020000
150                       Senegal    9    1    7   0.3  AF     17  0.017647
151                        Serbia  283  131  127   9.6  EU    541  0.017745
152                    Seychelles  157   25   51   4.1  AF    233  0.017597
153                  Sierra Leone   25    3    2   6.7  AF     30  0.223333
154                     Singapore   60   12   11   1.5  AS     83  0.018072
155                      Slovakia  196  293  116  11.4  EU    605  0.018843
156                      Slovenia  270   51  276  10.6  EU    597  0.017755
157               Solomon Islands   56   11    1   1.2  OC     68  0.017647
158                       Somalia    0    0    0   0.0  AF      0  0.000000
159                  South Africa  225   76   81   8.2  AF    382  0.021466
160                         Spain  284  157  112  10.0  EU    553  0.018083
161                     Sri Lanka   16  104    0   2.2  AS    120  0.018333
162                         Sudan    8   13    0   1.7  AF     21  0.080952
163                      Suriname  128  178    7   5.6  SA    313  0.017891
164                     Swaziland   90    2    2   4.7  AF     94  0.050000
165                        Sweden  152   60  186   7.2  EU    398  0.018090
166                   Switzerland  185  100  280  10.2  EU    565  0.018053
167                         Syria    5   35   16   1.0  AS     56  0.017857
168                    Tajikistan    2   15    0   0.3  AS     17  0.017647
169                      Thailand   99  258    1   6.4  AS    358  0.017877
170                     Macedonia  106   27   86   3.9  EU    219  0.017808
171                   Timor-Leste    1    1    4   0.1  AS      6  0.016667
172                          Togo   36    2   19   1.3  AF     57  0.022807
173                         Tonga   36   21    5   1.1  OC     62  0.017742
174             Trinidad & Tobago  197  156    7   6.4  NA    360  0.017778
175                       Tunisia   51    3   20   1.3  AF     74  0.017568
176                        Turkey   51   22    7   1.4  AS     80  0.017500
177                  Turkmenistan   19   71   32   2.2  AS    122  0.018033
178                        Tuvalu    6   41    9   1.0  OC     56  0.017857
179                        Uganda   45    9    0   8.3  AF     54  0.153704
180                       Ukraine  206  237   45   8.9  EU    488  0.018238
181          United Arab Emirates   16  135    5   2.8  AS    156  0.017949
182                United Kingdom  219  126  195  10.4  EU    540  0.019259
183                      Tanzania   36    6    1   5.7  AF     43  0.132558
184                           USA  249  158   84   8.7  NA    491  0.017719
185                       Uruguay  115   35  220   6.6  SA    370  0.017838
186                    Uzbekistan   25  101    8   2.4  AS    134  0.017910
187                       Vanuatu   21   18   11   0.9  OC     50  0.018000
188                     Venezuela  333  100    3   7.7  SA    436  0.017661
189                       Vietnam  111    2    1   2.0  AS    114  0.017544
190                         Yemen    6    0    0   0.1  AS      6  0.016667
191                        Zambia   32   19    4   2.5  AF     55  0.045455
192                      Zimbabwe   64   18    4   4.7  AF     86  0.054651

In [52]:
#[2-34] df의 index를 모두 columns로 이동합니다.
df = df.reset_index()
df

,index,국가,맥주,증류주,와인,알코올,대륙,주류소비량,알코올비율
0,0,Afghanistan,0,0,0,0.0,AS,0,0.000000
1,1,Albania,89,132,54,4.9,EU,275,0.017818
2,2,Algeria,25,0,14,0.7,AF,39,0.017949
3,3,Andorra,245,138,312,12.4,EU,695,0.017842
4,4,Angola,217,57,45,5.9,AF,319,0.018495
5,5,Antigua & Barbuda,102,128,45,4.9,NA,275,0.017818
6,6,Argentina,193,25,221,8.3,SA,439,0.018907
7,7,Armenia,21,179,11,3.8,EU,211,0.018009
8,8,Australia,261,72,212,10.4,OC,545,0.019083
9,9,Austria,279,75,191,9.7,EU,545,0.017798
10,10,Azerbaijan,21,46,5,1.3,EU,72,0.018056
11,11,Bahamas,122,176,51,6.3,NA,349,0.018052
12,12,Bahrain,42,63,7,2.0,AS,112,0.017857
13,13,Bangladesh,0,0,0,0.0,AS,0,0.000000
14,14,Barbados,143,173,36,6.3,NA,352,0.017898
15,15,Belarus,142,373,42,14.4,EU,557,0.025853
16,16,Belgium,295,84,212,10.5,EU,591,0.017766
17,17,Belize,263,114,8,6.8,NA,385,0.017662
18,18,Benin,34,4,13,1.1,AF,51,0.021569
19,19,Bhutan,23,0,0,0.4,AS,23,0.017391
20,20,Bolivia,167,41,8,3.8,SA,216,0.017593
21,21,Bosnia-Herzegovina,76,173,8,4.6,EU,257,0.017899
22,22,Botswana,173,35,35,5.4,AF,243,0.022222
23,23,Brazil,245,145,16,7.2,SA,406,0.017734
24,24,Brunei,31,2,1,0.6,AS,34,0.017647
25,25,Bulgaria,231,252,94,10.3,EU,577,0.017851
26,26,Burkina Faso,25,7,7,4.3,AF,39,0.110256
27,27,Burundi,88,0,0,6.3,AF,88,0.071591
28,28,Cote d'Ivoire,37,1,7,4.0,AF,45,0.088889
29,29,Cabo Verde,144,56,16,4.0,AF,216,0.018519
30,30,Cambodia,57,65,1,2.2,AS,123,0.017886
31,31,Cameroon,147,1,4,5.8,AF,152,0.038158
32,32,Canada,240,122,100,8.2,NA,462,0.017749
33,33,Central African Republic,17,2,1,1.8,AF,20,0.090000
34,34,Chad,15,1,1,0.4,AF,17,0.023529
35,35,Chile,130,124,172,7.6,SA,426,0.017840
36,36,China,79,192,8,5.0,AS,279,0.017921
37,37,Colombia,159,76,3,4.2,SA,238,0.017647
38,38,Comoros,1,3,1,0.1,AF,5,0.020000
39,39,Congo,76,1,9,1.7,AF,86,0.019767
40,40,Cook Islands,0,254,74,5.9,OC,328,0.017988
41,41,Costa Rica,149,87,11,4.4,NA,247,0.017814
42,42,Croatia,230,87,254,10.2,EU,571,0.017863
43,43,Cuba,93,137,5,4.2,NA,235,0.017872
44,44,Cyprus,192,154,113,8.2,EU,459,0.017865
45,45,Czech Republic,361,170,134,11.8,EU,665,0.017744
46,46,North Korea,0,0,0,0.0,AS,0,0.000000
47,47,DR Congo,32,3,1,2.3,AF,36,0.063889
48,48,Denmark,224,81,278,10.4,EU,583,0.017839
49,49,Djibouti,15,44,3,1.1,AF,62,0.017742
50,50,Dominica,52,286,26,6.6,NA,364,0.018132
51,51,Dominican Republic,193,147,9,6.2,NA,349,0.017765
52,52,Ecuador,162,74,3,4.2,SA,239,0.017573
53,53,Egypt,6,4,1,0.2,AF,11,0.018182
54,54,El Salvador,52,69,2,2.2,NA,123,0.017886
55,55,Equatorial Guinea,92,0,233,5.8,AF,325,0.017846
56,56,Eritrea,18,0,0,0.5,AF,18,0.027778
57,57,Estonia,224,194,59,9.5,EU,477,0.019916
58,58,Ethiopia,20,3,0,0.7,AF,23,0.030435
59,59,Fiji,77,35,1,2.0,OC,113,0.017699
60,60,Finland,263,133,97,10.0,EU,493,0.020284
61,61,France,127,151,370,11.8,EU,648,0.018210
62,62,Gabon,347,98,59,8.9,AF,504,0.017659
63,63,Gambia,8,0,1,2.4,AF,9,0.266667
64,64,Georgia,52,100,149,5.4,EU,301,0.017940
65,65,Germany,346,117,175,11.3,EU,638,0.017712
66,66,Ghana,31,3,10,1.8,AF,44,0.040909
67,67,Greece,133,112,218,8.3,EU,463,0.017927
68,68,Grenada,199,438,28,11.9,NA,665,0.017895
69,69,Guatemala,53,69,2,2.2,NA,124,0.017742
70,70,Guinea,9,0,2,0.2,AF,11,0.018182
71,71,Guinea-Bissau,28,31,21,2.5,AF,80,0.031250
72,72,Guyana,93,302,1,7.1,SA,396,0.017929
73,73,Haiti,1,326,1,5.9,NA,328,0.017988
74,74,Honduras,69,98,2,3.0,NA,169,0.017751
75,75,Hungary,234,215,185,11.3,EU,634,0.017823
76,76,Iceland,233,61,78,6.6,EU,372,0.017742
77,77,India,9,114,0,2.2,AS,123,0.017886
78,78,Indonesia,5,1,0,0.1,AS,6,0.016667
79,79,Iran,0,0,0,0.0,AS,0,0.000000
80,80,Iraq,9,3,0,0.2,AS,12,0.016667
81,81,Ireland,313,118,165,11.4,EU,596,0.019128
82,82,Israel,63,69,9,2.5,AS,141,0.017730
83,83,Italy,85,42,237,6.5,EU,364,0.017857
84,84,Jamaica,82,97,9,3.4,NA,188,0.018085
85,85,Japan,77,202,16,7.0,AS,295,0.023729
86,86,Jordan,6,21,1,0.5,AS,28,0.017857
87,87,Kazakhstan,124,246,12,6.8,AS,382,0.017801
88,88,Kenya,58,22,2,1.8,AF,82,0.021951
89,89,Kiribati,21,34,1,1.0,OC,56,0.017857
90,90,Kuwait,0,0,0,0.0,AS,0,0.000000
91,91,Kyrgyzstan,31,97,6,2.4,AS,134,0.017910
92,92,Laos,62,0,123,6.2,AS,185,0.033514
93,93,Latvia,281,216,62,10.5,EU,559,0.018784
94,94,Lebanon,20,55,31,1.9,AS,106,0.017925
95,95,Lesotho,82,29,0,2.8,AF,111,0.025225
96,96,Liberia,19,152,2,3.1,AF,173,0.017919
97,97,Libya,0,0,0,0.0,AF,0,0.000000
98,98,Lithuania,343,244,56,12.9,EU,643,0.020062
99,99,Luxembourg,236,133,271,11.4,EU,640,0.017813
100,100,Madagascar,26,15,4,0.8,AF,45,0.017778
101,101,Malawi,8,11,1,1.5,AF,20,0.075000
102,102,Malaysia,13,4,0,0.3,AS,17,0.017647
103,103,Maldives,0,0,0,0.0,AS,0,0.000000
104,104,Mali,5,1,1,0.6,AF,7,0.085714
105,105,Malta,149,100,120,6.6,EU,369,0.017886
106,106,Marshall Islands,0,0,0,0.0,OC,0,0.000000
107,107,Mauritania,0,0,0,0.0,AF,0,0.000000
108,108,Mauritius,98,31,18,2.6,AF,147,0.017687
109,109,Mexico,238,68,5,5.5,NA,311,0.017685
110,110,Micronesia,62,50,18,2.3,OC,130,0.017692
111,111,Monaco,0,0,0,0.0,EU,0,0.000000
112,112,Mongolia,77,189,8,4.9,AS,274,0.017883
113,113,Montenegro,31,114,128,4.9,EU,273,0.017949
114,114,Morocco,12,6,10,0.5,AF,28,0.017857
115,115,Mozambique,47,18,5,1.3,AF,70,0.018571
116,116,Myanmar,5,1,0,0.1,AS,6,0.016667
117,117,Namibia,376,3,1,6.8,AF,380,0.017895
118,118,Nauru,49,0,8,1.0,OC,57,0.017544
119,119,Nepal,5,6,0,0.2,AS,11,0.018182
120,120,Netherlands,251,88,190,9.4,EU,529,0.017769
121,121,New Zealand,203,79,175,9.3,OC,457,0.020350
122,122,Nicaragua,78,118,1,3.5,NA,197,0.017766
123,123,Niger,3,2,1,0.1,AF,6,0.016667
124,124,Nigeria,42,5,2,9.1,AF,49,0.185714
125,125,Niue,188,200,7,7.0,OC,395,0.017722
126,126,Norway,169,71,129,6.7,EU,369,0.018157
127,127,Oman,22,16,1,0.7,AS,39,0.017949
128,128,Pakistan,0,0,0,0.0,AS,0,0.000000
129,129,Palau,306,63,23,6.9,OC,392,0.017602
130,130,Panama,285,104,18,7.2,NA,407,0.017690
131,131,Papua New Guinea,44,39,1,1.5,OC,84,0.017857
132,132,Paraguay,213,117,74,7.3,SA,404,0.018069
133,133,Peru,163,160,21,6.1,SA,344,0.017733
134,134,Philippines,71,186,1,4.6,AS,258,0.017829
135,135,Poland,343,215,56,10.9,EU,614,0.017752
136,136,Portugal,194,67,339,11.0,EU,600,0.018333
137,137,Qatar,1,42,7,0.9,AS,50,0.018000
138,138,South Korea,140,16,9,9.8,AS,165,0.059394
139,139,Moldova,109,226,18,6.3,EU,353,0.017847
140,140,Romania,297,122,167,10.4,EU,586,0.017747
141,141,Russian Federation,247,326,73,11.5,AS,646,0.017802
142,142,Rwanda,43,2,0,6.8,AF,45,0.151111
143,143,St. Kitts & Nevis,194,205,32,7.7,NA,431,0.017865
144,144,St. Lucia,171,315,71,10.1,NA,557,0.018133
145,145,St. Vincent & the Grenadines,120,221,11,6.3,NA,352,0.017898
146,146,Samoa,105,18,24,2.6,OC,147,0.017687
147,147,San Marino,0,0,0,0.0,EU,0,0.000000
148,148,Sao Tome & Principe,56,38,140,4.2,AF,234,0.017949
149,149,Saudi Arabia,0,5,0,0.1,AS,5,0.020000
150,150,Senegal,9,1,7,0.3,AF,17,0.017647
151,151,Serbia,283,131,127,9.6,EU,541,0.017745
152,152,Seychelles,157,25,51,4.1,AF,233,0.017597
153,153,Sierra Leone,25,3,2,6.7,AF,30,0.223333
154,154,Singapore,60,12,11,1.5,AS,83,0.018072
155,155,Slovakia,196,293,116,11.4,EU,605,0.018843
156,156,Slovenia,270,51,276,10.6,EU,597,0.017755
157,157,Solomon Islands,56,11,1,1.2,OC,68,0.017647
158,158,Somalia,0,0,0,0.0,AF,0,0.000000
159,159,South Africa,225,76,81,8.2,AF,382,0.021466
160,160,Spain,284,157,112,10.0,EU,553,0.018083
161,161,Sri Lanka,16,104,0,2.2,AS,120,0.018333
162,162,Sudan,8,13,0,1.7,AF,21,0.080952
163,163,Suriname,128,178,7,5.6,SA,313,0.017891
164,164,Swaziland,90,2,2,4.7,AF,94,0.050000
165,165,Sweden,152,60,186,7.2,EU,398,0.018090
166,166,Switzerland,185,100,280,10.2,EU,565,0.018053
167,167,Syria,5,35,16,1.0,AS,56,0.017857
168,168,Tajikistan,2,15,0,0.3,AS,17,0.017647
169,169,Thailand,99,258,1,6.4,AS,358,0.017877
170,170,Macedonia,106,27,86,3.9,EU,219,0.017808
171,171,Timor-Leste,1,1,4,0.1,AS,6,0.016667
172,172,Togo,36,2,19,1.3,AF,57,0.022807
173,173,Tonga,36,21,5,1.1,OC,62,0.017742
174,174,Trinidad & Tobago,197,156,7,6.4,NA,360,0.017778
175,175,Tunisia,51,3,20,1.3,AF,74,0.017568
176,176,Turkey,51,22,7,1.4,AS,80,0.017500
177,177,Turkmenistan,19,71,32,2.2,AS,122,0.018033
178,178,Tuvalu,6,41,9,1.0,OC,56,0.017857
179,179,Uganda,45,9,0,8.3,AF,54,0.153704
180,180,Ukraine,206,237,45,8.9,EU,488,0.018238
181,181,United Arab Emirates,16,135,5,2.8,AS,156,0.017949
182,182,United Kingdom,219,126,195,10.4,EU,540,0.019259
183,183,Tanzania,36,6,1,5.7,AF,43,0.132558
184,184,USA,249,158,84,8.7,NA,491,0.017719
185,185,Uruguay,115,35,220,6.6,SA,370,0.017838
186,186,Uzbekistan,25,101,8,2.4,AS,134,0.017910
187,187,Vanuatu,21,18,11,0.9,OC,50,0.018000
188,188,Venezuela,333,100,3,7.7,SA,436,0.017661
189,189,Vietnam,111,2,1,2.0,AS,114,0.017544
190,190,Yemen,6,0,0,0.1,AS,6,0.016667
191,191,Zambia,32,19,4,2.5,AF,55,0.045455
192,192,Zimbabwe,64,18,4,4.7,AF,86,0.054651

In [53]:
#[2-35] 전세계 평균 소비량과 한국(South Korea)의 소비량을 비교해 보려고 합니다.
# 먼저, 한국의 소비량을 조회하여 korea로 저장합니다.
korea = df[df['국가'] == 'South Korea']
korea

     index           국가   맥주  증류주  와인  알코올  대륙  주류소비량     알코올비율
138    138  South Korea  140   16   9  9.8  AS    165  0.059394

In [54]:
#[2-36] Korea 정보 중에서 대륙 정보를 제거합니다.
korea.drop('대륙', axis=1)

     index           국가   맥주  증류주  와인  알코올  주류소비량     알코올비율
138    138  South Korea  140   16   9  9.8    165  0.059394

### 원하는 컬럼만 추출하기
- DataFrame.loc[ : , 시작컬럼명 : 끝컬럼명]
- DataFrame.iloc[ : , 시작컬럼번호 : 끝컬럼번호+1]
  - 특정 번호부터 끝까지 모든 컬럼을 대상으로 하면 끝컬럼번호+1 정보를 생략함

In [55]:
#[2-37] indexing을 사용하여 korea 정보 중 대륙 정보를 제거합니다.(DataFrame.loc[])
korea.loc[:, '국가':'주류소비량']

              국가   맥주  증류주  와인  알코올  대륙  주류소비량
138  South Korea  140   16   9  9.8  AS    165

In [56]:
df.loc[df['국가'] == 'South Korea', '국가':'주류소비량']

              국가   맥주  증류주  와인  알코올  대륙  주류소비량
138  South Korea  140   16   9  9.8  AS    165

In [57]:
#[2-38] indexing을 사용하여 korea정보중 대륙 정보를 제거합니다(DataFrame.iloc[])
korea.iloc[:, 1:8]

              국가   맥주  증류주  와인  알코올  대륙  주류소비량
138  South Korea  140   16   9  9.8  AS    165

In [58]:
#[2-39] korea 에 대륙 정보가 제거된 정보를 다시 korea에 저장합니다.

In [59]:
#[2-40] 세계의 각 컬럼별 평균을 구하여 DataFrame으로 만들고,
# worldwide라는 이름으로 지정합니다.
# 세계의 각 컬럼별 평균은 DataFrame.mean()을 사용합니다
worldwide = pd.DataFrame(df.mean())
worldwide

                0
index   96.000000
맥주     106.160622
증류주     80.994819
와인      49.450777
알코올      4.717098
주류소비량  236.606218
알코올비율    0.026115

### DataFrame의 행/열 전환
- DataFrame.T : index, columns의 위치가 바뀜

In [60]:
#[2-41] worldwide의 행과 열을 전환해 wwT 로 저장합니다.
wwT = worldwide.T
wwT

   index          맥주        증류주         와인       알코올       주류소비량     알코올비율
0   96.0  106.160622  80.994819  49.450777  4.717098  236.606218  0.026115

In [61]:
korea

     index           국가   맥주  증류주  와인  알코올  대륙  주류소비량     알코올비율
138    138  South Korea  140   16   9  9.8  AS    165  0.059394

### DataFrame의 임의 위치 열(컬럼)삽입.
- DataFrame.insert(위치, 컬럼, 값) : inplace 동작됨(새로운 return 없음)

In [62]:
#[2-42] wwT의 맨 앞에 '국가' 커럼은 'World Wide' 값을 추가합니다.
wwT.insert(0, '국가', 'Wirld Wide')
wwT

,국가,index,맥주,증류주,와인,알코올,주류소비량,알코올비율
0,Wirld Wide,96.0,106.160622,80.994819,49.450777,4.717098,236.606218,0.026115

### DataFrame의 행(를)추가
- DataFrame.append(DataFrme) : 새로운 DataFrame반환
- 2개를 1개로 합치는 작업가능

In [63]:
#[2-43]korea뒤에 wwT를 추가하여 compT로 이름 붙입니다.
compT = korea.append(wwT)
compT

,index,국가,맥주,증류주,와인,알코올,대륙,주류소비량,알코올비율
138,138.0,South Korea,140.000000,16.000000,9.000000,9.800000,AS,165.000000,0.059394
0,96.0,Wirld Wide,106.160622,80.994819,49.450777,4.717098,NaN,236.606218,0.026115

#### ***한국의 맥주 및 알코올 소비량이 전세계 맥주 소비량보다 많은 것을 알수 있습니다.***

In [64]:
#[2-44] wwT 와 korea를 합쳐 하나의 DataFrame을 생성하여 df2로 저장합니다.
df2 = pd.concat([wwT, korea])
df2

,국가,index,맥주,증류주,와인,알코올,주류소비량,알코올비율,대륙
0,Wirld Wide,96.0,106.160622,80.994819,49.450777,4.717098,236.606218,0.026115,NaN
138,South Korea,138.0,140.000000,16.000000,9.000000,9.800000,165.000000,0.059394,AS

In [65]:
#[2-45] df2를 '국가' 컬럼을 index로 설정하여 df3으로 저장합니다.
df3 = df2.set_index('국가')
df3

,index,맥주,증류주,와인,알코올,주류소비량,알코올비율,대륙
국가,,,,,,,,
Wirld Wide,96.0,106.160622,80.994819,49.450777,4.717098,236.606218,0.026115,NaN
South Korea,138.0,140.000000,16.000000,9.000000,9.800000,165.000000,0.059394,AS

In [66]:
#[2-46] df3의 행,열을 전환하여 출력합니다.
df3.T

국가    Wirld Wide South Korea
index         96         138
맥주       106.161         140
증류주      80.9948          16
와인       49.4508           9
알코올       4.7171         9.8
주류소비량    236.606         165
알코올비율  0.0261148   0.0593939
대륙           NaN          AS

# **3-5. 맥주 소비량**

In [67]:
#[2-47] 주류소비량이 있으면서, 맥주를 소비하지 않는 나라이 맥주, 증류주, 와인, 알코올 대륙 등 모든 정보르 구해봅니다.
# index 사용
df[(df['주류소비량']>0) & (df['맥주']==0)]

     index            국가  맥주  증류주  와인  알코올  대륙  주류소비량     알코올비율
40      40  Cook Islands   0  254  74  5.9  OC    328  0.017988
149    149  Saudi Arabia   0    5   0  0.1  AS      5  0.020000

In [68]:
#[2-48] 주류소비량이 있으면서, 맥주소비 하지않는 국가의 국가명 목록을 구해봅니다
df.loc[(df['주류소비량']>0) & (df['맥주']==0), '국가'].to_list()

['Cook Islands', 'Saudi Arabia']

In [69]:
#[2-49] 주류소비량이 정보가 없는 국가의 정보를 구해 봅니다.
df[df['주류소비량']==0 ]

     index                국가  맥주  증류주  와인  알코올  대륙  주류소비량  알코올비율
0        0       Afghanistan   0    0   0  0.0  AS      0    0.0
13      13        Bangladesh   0    0   0  0.0  AS      0    0.0
46      46       North Korea   0    0   0  0.0  AS      0    0.0
79      79              Iran   0    0   0  0.0  AS      0    0.0
90      90            Kuwait   0    0   0  0.0  AS      0    0.0
97      97             Libya   0    0   0  0.0  AF      0    0.0
103    103          Maldives   0    0   0  0.0  AS      0    0.0
106    106  Marshall Islands   0    0   0  0.0  OC      0    0.0
107    107        Mauritania   0    0   0  0.0  AF      0    0.0
111    111            Monaco   0    0   0  0.0  EU      0    0.0
128    128          Pakistan   0    0   0  0.0  AS      0    0.0
147    147        San Marino   0    0   0  0.0  EU      0    0.0
158    158           Somalia   0    0   0  0.0  AF      0    0.0

In [70]:
df.loc[df['주류소비량']==0, '국가'].to_list()

['Afghanistan',
 'Bangladesh',
 'North Korea',
 'Iran',
 'Kuwait',
 'Libya',
 'Maldives',
 'Marshall Islands',
 'Mauritania',
 'Monaco',
 'Pakistan',
 'San Marino',
 'Somalia']

In [71]:
#[2-50] 맥주 소비량의 값이 큰 5개 국가를 알아봅니다.
df.sort_values('맥주', ascending=False).head()

     index              국가   맥주  증류주   와인   알코올  대륙  주류소비량     알코올비율
117    117         Namibia  376    3    1   6.8  AF    380  0.017895
45      45  Czech Republic  361  170  134  11.8  EU    665  0.017744
62      62           Gabon  347   98   59   8.9  AF    504  0.017659
65      65         Germany  346  117  175  11.3  EU    638  0.017712
98      98       Lithuania  343  244   56  12.9  EU    643  0.020062

In [74]:
#[2-51] 맥주 소비량이 세계 평균 소비량보다 큰 국가의 개수는?
df.loc[df['맥주'] > df['맥주'].mean() ,'국가'].count()

76

# **3-6. 어는 대륙에서 평균보다 맥주를 더 많이 마시는가?**
### 그룹별 통계치 구하기
- DataFrame.groupby(컬럼명).적용할 통계함수()
  - DataFrame의 함수 적용 가능 컬럼들에 대해 그룹별 통계치를 구함
  - 통계함수에는 sum, mean, std, var, min, max, count, quantile등이 있음

- DataFrame.groupby(컬럼명)[컬럼명].적용할 통계함수()
  - 특정 컬럼(들)에 대한 결과만 확인할때
  - [컬럼명]: 결과가 Series
  - [[컬럼명]] : 결과가 DataFrame
  - [[컬럼명1,컬럼명2,...]] : 결과가 DataFrame

- DataFrame.groupby(컬럼명)[컬럼명].agg([통계함수1,통계함수2,...])를 사용함
  - 여러 개의 통계함수를 적용
  - 통계함수를 문자열 형식으로 사용가능

In [75]:
#[2-52] 전세계 주류 소비량 평균
df.mean()

index     96.000000
맥주       106.160622
증류주       80.994819
와인        49.450777
알코올        4.717098
주류소비량    236.606218
알코올비율      0.026115
dtype: float64

In [76]:
#[2-53] 대륙별 주류 소비량 평균을 계산해 봅니다
df.groupby('대륙').mean()

,index,맥주,증류주,와인,알코올,주류소비량,알코올비율
대륙,,,,,,,
AF,93.396226,61.471698,16.339623,16.264151,3.007547,94.075472,0.049741
AS,109.000000,37.045455,60.840909,9.068182,2.170455,106.954545,0.016359
EU,89.377778,193.777778,132.555556,142.222222,8.617778,468.555556,0.017527
NA,79.869565,145.434783,165.739130,24.521739,5.995652,335.695652,0.017854
OC,117.312500,89.687500,58.437500,35.625000,3.381250,183.750000,0.016895
SA,87.166667,175.083333,114.750000,62.416667,6.308333,352.250000,0.017868

In [77]:
#[2-54] 대륙별 주류소비량 중앙값을 계산해 봅니다.
df.groupby('대륙').median()

    index     맥주    증류주     와인    알코올  주류소비량     알코올비율
대륙
AF   96.0   32.0    3.0    2.0   2.30   49.0  0.021951
AS  107.5   17.5   16.0    1.0   1.20   68.0  0.017843
EU   83.0  219.0  122.0  128.0  10.00  541.0  0.017865
NA   69.0  143.0  137.0   11.0   6.30  349.0  0.017818
OC  123.0   52.5   37.0    8.5   1.75   98.5  0.017732
SA   62.0  162.5  108.5   12.0   6.85  383.0  0.017786

In [78]:
#[2-55] 대륙별 맥주 소비량 평균은?
df.groupby('대륙')[['맥주']].mean()

            맥주
대륙
AF   61.471698
AS   37.045455
EU  193.777778
NA  145.434783
OC   89.687500
SA  175.083333

In [79]:
#[2-56] 전세계 맥주 소비량 평균보다 많은 맥주를 소비하는 대륙은?
temp = df.groupby('대륙')[['맥주']].mean()
temp[temp['맥주'] > df['맥주'].mean()]

            맥주
대륙
EU  193.777778
NA  145.434783
SA  175.083333

In [80]:
#[2-57] 대륙별 맥주와 와인 소비량의 평균, 중앙값, 최대값은?
df.groupby('대륙')[['맥주', '와인']].agg(['mean', 'median', 'max'])

            맥주                      와인
          mean median  max        mean median  max
대륙
AF   61.471698   32.0  376   16.264151    2.0  233
AS   37.045455   17.5  247    9.068182    1.0  123
EU  193.777778  219.0  361  142.222222  128.0  370
NA  145.434783  143.0  285   24.521739   11.0  100
OC   89.687500   52.5  306   35.625000    8.5  212
SA  175.083333  162.5  333   62.416667   12.0  221

### 행,열에 모두 groupby을 저장하여 통계값 구하기
- DataFrarme.pivo_table(index=행 방향컬럼,columns=열 방향컬럼 ,values=집계 대상컬럼,aggfunc=구할 통계값)

  - 각각에 대해 단독또는 목록을 사용할수 있음
  - index, columns는 범주형, values는 연속형 사용

In [85]:
#[2-58] pivot_table을 사용하여 대륙별(index),'맥주'와 '와인'의 mean,median,max값을 구합니다.
df.pivot_table(index='대륙', values=['맥주','와인'], aggfunc=['mean','median','max'])

          mean             median         max
            맥주          와인     맥주     와인   맥주   와인
대륙
AF   61.471698   16.264151   32.0    2.0  376  233
AS   37.045455    9.068182   17.5    1.0  247  123
EU  193.777778  142.222222  219.0  128.0  361  370
NA  145.434783   24.521739  143.0   11.0  285  100
OC   89.687500   35.625000   52.5    8.5  306  212
SA  175.083333   62.416667  162.5   12.0  333  221

In [89]:
#[2-59] pivot_table을 사용하여 대륙별(columns), '맥주'와 '와인'의 mean,median 값을 구합니다.
df.pivot_table(columns='대륙',values=['맥주','와인'],aggfunc=['mean','median'])

         mean                                              ... median         \
대륙         AF         AS          EU          NA       OC  ...     AS     EU
맥주  61.471698  37.045455  193.777778  145.434783  89.6875  ...   17.5  219.0
와인  16.264151   9.068182  142.222222   24.521739  35.6250  ...    1.0  128.0


대륙     NA    OC     SA
맥주  143.0  52.5  162.5
와인   11.0   8.5   12.0

[2 rows x 12 columns]

In [91]:
#[2-60] groupby를 사용하여 대륙별,'맥주'와 '와인'의 mean, median,max값을 구합니다.
df.groupby('대륙')['맥주','와인'].agg(['mean','median','max'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

            맥주                      와인
          mean median  max        mean median  max
대륙
AF   61.471698   32.0  376   16.264151    2.0  233
AS   37.045455   17.5  247    9.068182    1.0  123
EU  193.777778  219.0  361  142.222222  128.0  370
NA  145.434783  143.0  285   24.521739   11.0  100
OC   89.687500   52.5  306   35.625000    8.5  212
SA  175.083333  162.5  333   62.416667   12.0  221