<a href="https://colab.research.google.com/github/orizay/free-fonts/blob/master/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_%EC%8B%A4%EA%B8%B0_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/Soyoung-Yoon/data_01

Cloning into 'data_01'...
remote: Enumerating objects: 47, done.
remote: Counting objects: 100% (47/47), done.
remote: Compressing objects: 100% (47/47), done.
remote: Total 47 (delta 15), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (47/47), done.

# Youtube 인기채널은?
- title: 채널명
- category: 카테고리
- subscriber: 구독자수
- view: 조회수
- video: 영상개수

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('data_01/youtube_rank.csv')

In [4]:
df.head()

                         title    category subscriber       view   video
0                    BLACKPINK  [음악/댄스/가수]      5140만  128억5130만    319개
1               Big Hit Labels  [음악/댄스/가수]      4550만  120억8966만    433개
2                    BANGTANTV  [음악/댄스/가수]      3870만   54억7598만  1,319개
3  Boram Tube Vlog [보람튜브 브이로그]    [키즈/어린이]      2650만  110억5288만    223개
4                       SMTOWN  [음악/댄스/가수]      2450만  180억7532만  3,583개

In [5]:
df.dtypes

title         object
category      object
subscriber    object
view          object
video         object
dtype: object

In [6]:
df['subscriber'].dtype

dtype('O')

In [7]:
#1-14 df의 각 column 별 dtype을 확인합니다
df.dtypes

title         object
category      object
subscriber    object
view          object
video         object
dtype: object

In [8]:
#1-15 df의 'subscriber'컬럼의 데이터타입을 확인해 본다
df['subscriber'].dtype

dtype('O')

In [9]:
#1-16 df의 'subscriber'의 첫3개행을 출력해 내용을 확인한다
df['subscriber'].head(3)

0    5140만
1    4550만
2    3870만
Name: subscriber, dtype: object

# 데이터 타입을 변격하는 방법
- Series.astype(타입)

- import numpy as np

In [10]:
#1-17 df의 'subscriber'컬럼의 dtype을 int64으로 변경하여 보라
#<오류 발생함> 한글,특수문자 드이 섞여 있으면 정수로 변경할수 없음.

In [11]:
#1-18 df의 'subscriber'컬럼에 대해 '만'을 '0000'으로 변경하는 코드를 작성
df['subscriber'].replace('만','0000').head()

0    5140만
1    4550만
2    3870만
3    2650만
4    2450만
Name: subscriber, dtype: object

In [12]:
df['subscriber'].replace('만','0000',regex=True).head()

0    51400000
1    45500000
2    38700000
3    26500000
4    24500000
Name: subscriber, dtype: object

In [13]:
#1-19 df의 'subscriber'컬럼에 대해 '만'을 '0000'으로 변경한뒤,astype('int64')를 사용하여 dtype을 변경하세요
df['subscriber'].replace('만','0000',regex=True).astype('int64').head()

0    51400000
1    45500000
2    38700000
3    26500000
4    24500000
Name: subscriber, dtype: int64

In [14]:
#1-20 df의'view'컬럼에 대해 첫 5개 행을 조회합니다
df['view'].head()

0    128억5130만
1    120억8966만
2     54억7598만
3    110억5288만
4    180억7532만
Name: view, dtype: object

In [15]:
#1-21 df의 'view'컬럼에 대해 '억'에 대해 삭제,'만'에 대해서는 '0000'로 변경하는 작업을 수행한뒤,처음 5개 데이터를 출력합니다.
# 변경할 내용이 여러 개일 경우 두개의 list 또는 dict를 사용합니다
df['view'].replace(['억','만'],['','0000'],regex=True).head()

0    12851300000
1    12089660000
2     5475980000
3    11052880000
4    18075320000
Name: view, dtype: object

In [16]:
df['view'].replace({'억':'','만':'0000'},regex=True).head()

0    12851300000
1    12089660000
2     5475980000
3    11052880000
4    18075320000
Name: view, dtype: object

In [17]:
#1-22 df의 'view'컬럼에 대해 '억'에 대해서 삭제,'만'에 대해서는 '0000'로 변경하는 작업을 수행한뒤,astype('int64')를 사용하여 데이터 타입을 정수로 변경하고 처음 5개 데이터를 출력합니다.
df['view'].replace({'억':'', '만':'0000'}, regex=True).astype('int64').head()

0    12851300000
1    12089660000
2     5475980000
3    11052880000
4    18075320000
Name: view, dtype: int64

In [18]:
#1-23 df의 'video'컬럼의 첫5개 데이터를 확인합니다.
df['video'].head()

0      319개
1      433개
2    1,319개
3      223개
4    3,583개
Name: video, dtype: object

In [19]:
#1-24 df의 'video'컬럼에서 '개'와 ' , '을 제거하는 작업을 수행한뒤, 처음 5개 데이터를 출력합니다.
# 콤마','는 의미가 있는 문자이므로 (\)를 함께 사용합니다.
# 메타문자 : , . + ? * ^ % ...등 메타문자의 기능을 없애기 위해 (\)
df['video'].replace(['\,' , '개' ],' ',regex=True).head()

0      319
1      433
2    1 319
3      223
4    3 583
Name: video, dtype: object

In [20]:
#1-25 df의 'video'컬럼에서 '개',' , '을 제거하고 ,astype(int64)를 사용하여 작업을 수행한뒤, 처음 5개 데이터를 출력합니다.
df['video'].replace(['\,','개'],'', regex=True).astype('int64').head()

0     319
1     433
2    1319
3     223
4    3583
Name: video, dtype: int64

# 원래 데이터의 값별 개수 확인:
- Series.value_conts():값 별 개수를 Series로 반환
- 개수가 많은것 부터 내림차순 정렬되어 반환됨
- 값이 index,개수가 value 로 사용됨

## index 정렬
- DataFrame/Series.sort_index(ascending=True)

In [21]:
#1-26 df의 열중'category'컬럼에 대해 값 별 개수를 확인합니다
df['category'].value_counts()

[음악/댄스/가수]     175
[TV/방송]        161
[게임]           101
[키즈/어린이]        95
[음식/요리/레시피]     88
[BJ/인물/연예인]     68
[패션/미용]         57
[뉴스/정치/사회]      56
[취미/라이프]        40
[미분류]           40
[영화/만화/애니]      33
[교육/강의]         23
[애완/반려동물]       20
[스포츠/운동]        12
[IT/기술/컴퓨터]      8
[해외]             6
[주식/경제/부동산]      5
[국내/해외/여행]       5
[회사/오피셜]         4
[자동차]            2
[취미]             1
Name: category, dtype: int64

In [22]:
#1-27 df의 'category'에 대해 첫 글자와 마지막글자인'[',']'을 제거 합니다.
# replace를 사용하여 제거할수 있지만, Accessor 중 str을 사용하여 보도록 합니다.
df['category'].replace({'\[':'','\]':''},regex=True).head() 

#첫글자,마지막글자가 아니라도 제거함

0    음악/댄스/가수
1    음악/댄스/가수
2    음악/댄스/가수
3      키즈/어린이
4    음악/댄스/가수
Name: category, dtype: object

In [23]:
temp = df['category'].replace({'\[':'','\]':''},regex=True)
temp

0      음악/댄스/가수
1      음악/댄스/가수
2      음악/댄스/가수
3        키즈/어린이
4      음악/댄스/가수
         ...
995         미분류
996      취미/라이프
997       TV/방송
998         미분류
999       TV/방송
Name: category, Length: 1000, dtype: object

In [24]:
temp.value_counts()

음악/댄스/가수     175
TV/방송        161
게임           101
키즈/어린이        95
음식/요리/레시피     88
BJ/인물/연예인     68
패션/미용         57
뉴스/정치/사회      56
미분류           40
취미/라이프        40
영화/만화/애니      33
교육/강의         23
애완/반려동물       20
스포츠/운동        12
IT/기술/컴퓨터      8
해외             6
국내/해외/여행       5
주식/경제/부동산      5
회사/오피셜         4
자동차            2
취미             1
Name: category, dtype: int64

In [25]:
#1-28 df의 'category'에 대해 '[' ,']'을 제거하고 ,astype('category')를 사용하여 category타입으로 변경합니다.
df['category'].replace(['\[','\]'],' ', regex=True).astype('category')

0       음악/댄스/가수
1       음악/댄스/가수
2       음악/댄스/가수
3         키즈/어린이
4       음악/댄스/가수
          ...
995          미분류
996       취미/라이프
997        TV/방송
998          미분류
999        TV/방송
Name: category, Length: 1000, dtype: category
Categories (21, object): [' BJ/인물/연예인 ', ' IT/기술/컴퓨터 ', ' TV/방송 ', ' 게임 ', ..., ' 키즈/어린이 ', ' 패션/미용 ',
                          ' 해외 ', ' 회사/오피셜 ']

In [26]:
df['category'].str[1:-1].astype('category')

0      음악/댄스/가수
1      음악/댄스/가수
2      음악/댄스/가수
3        키즈/어린이
4      음악/댄스/가수
         ...
995         미분류
996      취미/라이프
997       TV/방송
998         미분류
999       TV/방송
Name: category, Length: 1000, dtype: category
Categories (21, object): ['BJ/인물/연예인', 'IT/기술/컴퓨터', 'TV/방송', '게임', ..., '키즈/어린이', '패션/미용', '해외', '회사/오피셜']

In [27]:
# str: 문자열에 대해서만 Accessor 할수 있다.
# 차이점: str[1:-1] 제일 처음문자와 제일 마지막 문자를 제거
# \[ ,\] 은 [] 같은 문자를 찾아서 제거

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       1000 non-null   object
 1   category    1000 non-null   object
 2   subscriber  1000 non-null   object
 3   view        1000 non-null   object
 4   video       1000 non-null   object
dtypes: object(5)
memory usage: 39.2+ KB

In [29]:
#1-29 replace 및 Accessor-str 을 사용한 작업을 요약 해 봅니다
df['subscriber'] = df['subscriber'].replace('만','0000',regex=True).astype('int64')
df['video'] = df['video'].replace(['개','\,'],'',regex=True).astype('int64')
df['view'] = df['view'].replace({'억':'', '만':'0000'}, regex=True).astype('int64')
df['category'] = df['category'].str[1:-1].astype('category')

In [30]:
df

                           title  category  subscriber         view  video
0                      BLACKPINK  음악/댄스/가수    51400000  12851300000    319
1                 Big Hit Labels  음악/댄스/가수    45500000  12089660000    433
2                      BANGTANTV  음악/댄스/가수    38700000   5475980000   1319
3    Boram Tube Vlog [보람튜브 브이로그]    키즈/어린이    26500000  11052880000    223
4                         SMTOWN  음악/댄스/가수    24500000  18075320000   3583
..                           ...       ...         ...          ...    ...
995                Ranking World       미분류      400000    127520000    503
996                         급식걸즈    취미/라이프      400000    239010000    226
997                          OCN     TV/방송      400000    345830000  10071
998                Bravo jamoasi       미분류      400000     61930000     25
999                  덕출 : DCTVGO     TV/방송      400000     82490000    202

[1000 rows x 5 columns]

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       1000 non-null   object
 1   category    1000 non-null   category
 2   subscriber  1000 non-null   int64
 3   view        1000 non-null   int64
 4   video       1000 non-null   int64
dtypes: category(1), int64(3), object(1)
memory usage: 33.1+ KB

# 데이터 정렬하기
- DataFrame.sort_values(컬럼명, ascending=True)
- DataFrame.sort_values([컴럼명1,컬럼명2,...], ascending=True[...])

- 오름차순이 기본이며 ,ascending=False를 사용하여 내림차순을 지정
- 1차 기준, 2차 기준 등 여러 개 기준이 존재하는 경우
  - 1차 기준 정렬된 후, 1차 기준이 같은것 내부에서 2차 기준으로 정렬됨
  - 정렬방식은 각 기준별로 부여하거나 ,1개만 부여할수 있음

In [32]:
#1-31 'subscriber'가 가장 많은 5개의 채널을 알아봅니다.
df.sort_values('subscriber',ascending=False).head()

                         title  category  subscriber         view  video
0                    BLACKPINK  음악/댄스/가수    51400000  12851300000    319
1               Big Hit Labels  음악/댄스/가수    45500000  12089660000    433
2                    BANGTANTV  음악/댄스/가수    38700000   5475980000   1319
3  Boram Tube Vlog [보람튜브 브이로그]    키즈/어린이    26500000  11052880000    223
4                       SMTOWN  음악/댄스/가수    24500000  18075320000   3583

In [33]:
#1-32 'view'가 가장 많은 5개 채널을 알아봅니다.
df.sort_values('view',ascending=False).head()

              title  category  subscriber         view  video
4            SMTOWN  음악/댄스/가수    24500000  18075320000   3583
6      1theK (원더케이)  음악/댄스/가수    20900000  17860420000  13291
8  ArianaGrandeVevo  음악/댄스/가수    18200000  14796920000    112
0         BLACKPINK  음악/댄스/가수    51400000  12851300000    319
1    Big Hit Labels  음악/댄스/가수    45500000  12089660000    433

In [34]:
#1-33 'video'가 가장 많은 5개 채널을 알아봅니다.
df.sort_values('video',ascending=False).head()

                 title  category  subscriber        view   video
169           YTN news  뉴스/정치/사회     1970000  3801710000  492791
60           SBS Drama     TV/방송     4360000  4260860000  339029
737             연합뉴스TV  뉴스/정치/사회      550000   697650000  311370
57   SBS Entertainment     TV/방송     4490000  4516190000  210810
17                 CNN  뉴스/정치/사회    10900000  7899750000  149530

In [35]:
#1-34 'video'가 가장 적은 5개 채널은 ?
df.sort_values('video').head()

                                        title   category  ...       view  video
194                           OfficialGDRAGON   음악/댄스/가수  ...          0      0
128                                 tzuyang쯔양  음식/요리/레시피  ...    2570000      1
964                                        fx   음악/댄스/가수  ...     380000      3
454                                        CL   음악/댄스/가수  ...   52470000      5
742  Trouble Maker (Official YouTube Channel)   음악/댄스/가수  ...  173840000      9

[5 rows x 5 columns]

In [36]:
#1-35 'category'로 오름차순, 'subscriber'로 내림차순 정렬해 봅니다.
df.sort_values(['category','subscriber'],ascending=[True,False])

                      title   category  subscriber        view  video
52      [Awesome Haeun]어썸하은  BJ/인물/연예인     4840000   703070000    419
75   영국남자 Korean Englishman  BJ/인물/연예인     3940000  1160110000    411
79              워크맨-Workman  BJ/인물/연예인     3810000   469330000     76
82              waveya 2011  BJ/인물/연예인     3720000  1299280000    647
84                 허팝Heopop  BJ/인물/연예인     3710000  2748310000   1685
..                      ...        ...         ...         ...    ...
671            AshleyMariee         해외      590000    55950000   2033
53                  Samsung     회사/오피셜     4780000   585350000   1135
108               Billboard     회사/오피셜     2900000  1010800000   6100
709           미스&미스터트롯 공식계정     회사/오피셜      570000   202340000    659
722                  KB국민카드     회사/오피셜      560000   187960000    443

[1000 rows x 5 columns]

## Bolean Indexing 사용하여 조건에 맞는 데이터 가져오기
- DataFrame.loc[조건, :]
- DataFrame[조건]
- 조건은 bolean dtype 이여야 하며 행의 수와 같아야 함
- 복잡한 조건 작성
- (조건1) | (조건2) :  조건1 또는 조건2를 만족하는 데이터
- (조건1) & (조건2) :  조건1 ,조건2 모드 만족하는 데이터
- ~(조건) : 조건이 거짓인 데이터

In [37]:
temp = pd.DataFrame({'A': [1,2,3,4],
                     'B': [6,5,4,3],
                     'C': [3,4,5,2]})
temp

   A  B  C
0  1  6  3
1  2  5  4
2  3  4  5
3  4  3  2

In [38]:
temp[[True,False,True,False]]

   A  B  C
0  1  6  3
2  3  4  5

In [39]:
#1-36 'category'가 음악/댄스/가수' 인 채널의 subscriber TOP5를 알아봅니다.
df['category'] == '악/댄스/가'

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: category, Length: 1000, dtype: bool

In [40]:
(df['category'] == '악/댄스/가').sum()

0

In [41]:
df[df['category'] =='악/댄스/가'].sort_values('subscriber',ascending=False).head()

Empty DataFrame
Columns: [title, category, subscriber, view, video]
Index: []

In [46]:
#1-37 'category'가 TV/방송'인 채널의 view TOP5를 알아봅니다.
df[df['category'] == 'TV/방송'].sort_values('view',ascending=False).head()

                title category  subscriber         view   video
12          KBS World    TV/방송    14300000  10158060000   46830
22            MBCkpop    TV/방송     8670000   6339380000   38695
76      KBS Entertain    TV/방송     3930000   5340910000   91783
57  SBS Entertainment    TV/방송     4490000   4516190000  210810
77           MBCdrama    TV/방송     3920000   4350540000   51543

In [49]:
#1-38 'subscriber'가 30000000(3천만)이상인 채널만 알아봅니다.
df[df['subscriber'] >= 30000000]

            title  category  subscriber         view  video
0       BLACKPINK  음악/댄스/가수    51400000  12851300000    319
1  Big Hit Labels  음악/댄스/가수    45500000  12089660000    433
2       BANGTANTV  음악/댄스/가수    38700000   5475980000   1319

In [53]:
#1-39 'video'개수가 30000이상 35000 이하인 채널을 알아봅니다.
#df[(df['video'] >= 30000) & (df['video' <= 35000])]

In [55]:
#1-40 'subscriber'가 3000000(3천만)이상이거나 'video'개수가 50000 이상인 채널을 알아봅니다.
df[(df['subscriber']>=30000000) | (df['video'] >=50000)]

                  title  category  subscriber         view   video
0             BLACKPINK  음악/댄스/가수    51400000  12851300000     319
1        Big Hit Labels  음악/댄스/가수    45500000  12089660000     433
2             BANGTANTV  음악/댄스/가수    38700000   5475980000    1319
17                  CNN  뉴스/정치/사회    10900000   7899750000  149530
27     MBCentertainment  뉴스/정치/사회     7710000  11683060000   79567
38   JTBC Entertainment  뉴스/정치/사회     6020000   7638370000   58938
57    SBS Entertainment     TV/방송     4490000   4516190000  210810
60            SBS Drama     TV/방송     4360000   4260860000  339029
76        KBS Entertain     TV/방송     3930000   5340910000   91783
77             MBCdrama     TV/방송     3920000   4350540000   51543
101           KBS Drama     TV/방송     3040000   3538510000  105922
119                 tvN     TV/방송     2680000   3307570000   52141
168           TV CHOSUN  뉴스/정치/사회     1990000   3255290000   53632
169            YTN news  뉴스/정치/사회     1970000   3801710000  492791
176     런닝맨 - 스브스 공식 채널     TV/방송     1880000   2116410000   52730
248           JTBC News  뉴스/정치/사회     1400000   1573740000   91379
366              SBS 뉴스  뉴스/정치/사회     1010000   1458080000   87768
373           SBS STORY  뉴스/정치/사회      990000   1254640000   75985
389            KBS News  뉴스/정치/사회      960000   1017410000  145515
402              채널A 뉴스  뉴스/정치/사회      940000   1039130000   52662
431             MBCNEWS  뉴스/정치/사회      890000   1388710000   87228
502          뉴스TVCHOSUN  뉴스/정치/사회      770000    623510000   57729
701            MBN News  뉴스/정치/사회      570000    623580000   72397
737              연합뉴스TV  뉴스/정치/사회      550000    697650000  311370
988        ARIRANG NEWS  뉴스/정치/사회      400000    190750000  114494
992              KBS 교양  뉴스/정치/사회      400000    297960000   64694

In [56]:
df.loc[(df['subscriber'] >=30000000) | (df['video'] >=50000), :]

                  title  category  subscriber         view   video
0             BLACKPINK  음악/댄스/가수    51400000  12851300000     319
1        Big Hit Labels  음악/댄스/가수    45500000  12089660000     433
2             BANGTANTV  음악/댄스/가수    38700000   5475980000    1319
17                  CNN  뉴스/정치/사회    10900000   7899750000  149530
27     MBCentertainment  뉴스/정치/사회     7710000  11683060000   79567
38   JTBC Entertainment  뉴스/정치/사회     6020000   7638370000   58938
57    SBS Entertainment     TV/방송     4490000   4516190000  210810
60            SBS Drama     TV/방송     4360000   4260860000  339029
76        KBS Entertain     TV/방송     3930000   5340910000   91783
77             MBCdrama     TV/방송     3920000   4350540000   51543
101           KBS Drama     TV/방송     3040000   3538510000  105922
119                 tvN     TV/방송     2680000   3307570000   52141
168           TV CHOSUN  뉴스/정치/사회     1990000   3255290000   53632
169            YTN news  뉴스/정치/사회     1970000   3801710000  492791
176     런닝맨 - 스브스 공식 채널     TV/방송     1880000   2116410000   52730
248           JTBC News  뉴스/정치/사회     1400000   1573740000   91379
366              SBS 뉴스  뉴스/정치/사회     1010000   1458080000   87768
373           SBS STORY  뉴스/정치/사회      990000   1254640000   75985
389            KBS News  뉴스/정치/사회      960000   1017410000  145515
402              채널A 뉴스  뉴스/정치/사회      940000   1039130000   52662
431             MBCNEWS  뉴스/정치/사회      890000   1388710000   87228
502          뉴스TVCHOSUN  뉴스/정치/사회      770000    623510000   57729
701            MBN News  뉴스/정치/사회      570000    623580000   72397
737              연합뉴스TV  뉴스/정치/사회      550000    697650000  311370
988        ARIRANG NEWS  뉴스/정치/사회      400000    190750000  114494
992              KBS 교양  뉴스/정치/사회      400000    297960000   64694